<%= form_for(@itinerary) do |f| %>
    <% if @itinerary.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

          <ul>
            <% @itinerary.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <form role="form" class="form-horizontal">
      <%
         users=WebUser.where("id=?",current_user.id).all
         if users.length==0
      %>
          <script type="text/javascript">
              window.location.href="<%= new_web_user_path %>"  // put your correct path in a string here
          </script>
      <%
         end
      %>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="form-group">
              <%= f.label "Nome" ,:for=>"nome" , :class=>"col-md-3 control-label" %>
              <div class="col-md-6">
                <%= f.text_field :name ,:id=>"nome" , :class=>"form-control", :placeholder=>"Rota dos vinhos" %>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="form-group">
              <%= f.label "Descrição" ,:for=>"description" , :class=>"col-sm-3 control-label" %>
              <div class="col-sm-6">
                <%= f.text_field :description ,:id=>"description" , :class=>"form-control", :placeholder=>"Uma rota dedicada ao vinhos da nossa região" %>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <div class="row">
            <div class="form-group">
              <%= f.label "Tipo de Rota" ,:for=>"itinerary_type" , :class=>"col-sm-3 control-label" %>
              <div class="col-sm-6">
                <%= f.collection_select(:itinerary_type_id, ItineraryType.all, :id, :name,{prompt: "Selecione um Tipo"}, {class: "form-control"} ) %>
              </div>
            </div>
          </div>
          <%= f.text_field :user_id ,:id=>"user_id", :value=>current_user.id , :hidden=>"hidden" %>
          <br/>
        </div>
        <div class="col-md-4">
          <strong>Pontos da Rota</strong>
          <p class="text-muted">Pontos de interesse</p>
          <div id="field">
            <%= f.fields_for :itinerary_attractions do |builder| %>
                <%= builder.collection_select(:attraction_id,AttractionTranslation.all,:id,:name,{prompt: "Selecione um Tipo"}, {class: "form-control"}) %>
                <%= link_to_remove_fields "remove", builder %>
            <% end %>
          </div>

          <p class="text-muted">Eventos</p>
          <%= f.fields_for :itinerary_events do |builder1| %>
              <%= builder1.text_field :order, :id =>"order"%>
              <%= builder1.collection_select(:event_id,EventTranslation.all,:event_id,:name,{prompt: "Selecione um Tipo"}, {class: "form-control"}) %>

          <% end %>

          <p class="text-muted">Serviços</p>
          <%= f.fields_for :itinerary_services do |builder2| %>
              <%= builder2.text_field :order, :id =>"order"%>
              <%= builder2.collection_select(:service_id,ServiceTranslation.all,:service_id,:name,{prompt: "Selecione um Tipo"}, {class: "form-control"}) %>

          <% end %>

        </div>
      </div>
      <%= f.submit "Guardar", :class=>"btn btn-primary btn-square" %>
    </form>

<% end %>