<%= form_for(@itinerary) do |f| %>
    <% if @itinerary.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

          <ul>
            <% @itinerary.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <form role="form" class="form-horizontal">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="form-group">
              <%= f.label "Nome" ,:for=>"nome" , :class=>"col-md-3 control-label" %>
              <div class="col-md-6">
                <%= f.text_field :name ,:id=>"nome" , :class=>"form-control", :placeholder=>"Rota dos vinhos" %>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="form-group">
              <%= f.label "Descrição" ,:for=>"description" , :class=>"col-sm-3 control-label" %>
              <div class="col-sm-6">
                <%= f.text_field :description ,:id=>"description" , :class=>"form-control", :placeholder=>"Uma rota dedicada ao vinhos da nossa região" %>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <div class="row">
            <div class="form-group">
              <%= f.label "Tipo de Rota" ,:for=>"itinerary_type" , :class=>"col-sm-3 control-label" %>
              <div class="col-sm-6">
                <%= f.collection_select(:itinerary_type_id, ItineraryType.all, :id, :name,{prompt: "Selecione um Tipo"}, {class: "form-control"} ) %>
              </div>
            </div>
          </div>
          <hr/>
          <%= f.text_field :user_id ,:id=>"user_id", :value=>1 , :hidden=>"hidden" %>
          <br/>
        </div>
        <div class="col-md-4">
          <strong>Pontos da Rota</strong>
          <p class="text-muted">Pontos de interesse</p>
          <%= f.fields_for :itinerary_attractions do |builder| %>
              <%= builder.collection_select(:attraction_id,Attraction.all,:id,:name,{prompt: "Selecione um Tipo"}, {class: "form-control"}) %>

          <% end %>

          <p class="text-muted">Eventos</p>
          <%= f.fields_for :itinerary_events do |builder1| %>
              <%= builder1.collection_select(:id,EventTranslation.all,:id,:name,{prompt: "Selecione um Tipo"}, {class: "form-control"}) %>

          <% end %>

          <p class="text-muted">Serviços</p>
          <%= f.fields_for :itinerary_services do |builder2| %>
              <%= builder2.collection_select(:id,ServiceTranslation.all,:service_id,:name,{prompt: "Selecione um Tipo"}, {class: "form-control"}) %>

          <% end %>

        </div>
      </div>
    </form>
    <%= f.submit "Guardar", :class=>"btn btn-primary btn-square" %>
<% end %>