<%= nested_form_for(@itinerary) do |f| %>
    <div>
    <% if @itinerary.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

          <ul>
            <% @itinerary.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <form role="form" class="form-horizontal">
      <div class="row">
        <div class="well well-sm">
          <div class="row">
            <div class="form-group">
              <%= f.label "Nome" ,:for=>"nome" , :class=>"col-md-5 control-label", :style=>"text-align:center;" %>
              <div class="col-md-6">
                <%= f.text_field :name ,:id=>"nome" , :class=>"form-control", :placeholder=>"Rota dos vinhos" %>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="form-group">
              <%= f.label "Descrição" ,:for=>"description" , :class=>"col-sm-5 control-label" , :style=>"text-align:center;"%>
              <div class="col-sm-6">
                <%= f.text_field :description ,:id=>"description" , :class=>"form-control", :placeholder=>"Uma rota dedicada ao vinhos da nossa região" %>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <div class="row">
            <div class="form-group">
              <%= f.label "Tipo de Rota" ,:for=>"itinerary_type" , :class=>"col-sm-5 control-label" , :style=>"text-align:center;"%>
              <div class="col-sm-6">
                <%= f.collection_select(:itinerary_type_id, ItineraryType.all, :id, :name,{prompt: "Selecione um Tipo"}, {class: "form-control"} ) %>
              </div>
            </div>
          </div>
          <%= f.text_field :user_id ,:id=>"user_id", :value=>current_user.id , :hidden=>"hidden" %>
          <br/>
        </div>
      </div>
      <div class="row">
        <h4>Pontos da rota</h4>
        <br/>
        <div class="col-md-4">
          <strong>Pontos de Interesse</strong>
          <br>

          <%= f.fields_for :itinerary_attractions do |builder| %>
              <div class="well">
                  <div class="form-group">
                    <label for="order">Ordem</label><br/>
                    <%= builder.select :order, (0..30) , {},  { :class => 'form-control' ,:prompt=> "Selecione a ordem",:id=>"order" } %>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label for="ponto">Ponto</label>
                    <%= builder.collection_select(:attraction_id,AttractionTranslation.all,:attraction_id,:name,{prompt: "Selecione um Ponto"}, {class: "form-control"}) %>
                  </div>
                  <%= builder.link_to_remove "Remover Ponto" %>
              </div>
          <% end %>
          <p><%= f.link_to_add "Adicionar Ponto", :itinerary_attractions %></p>
        </div>
        <div class="col-md-4">
          <strong>Eventos</strong>
          <br>
          <%= f.fields_for :itinerary_events do |builder1| %>
              <div class="well">
                  <div class="form-group">
                    <label for="order">Ordem</label><br/>
                    <%= builder1.select :order, (0..30) , {},  { :class => 'form-control' ,:prompt=> "Selecione a ordem",:id=>"order" } %>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label for="ponto">Ponto</label>
                    <%= builder1.collection_select(:event_id,EventTranslation.all,:event_id,:name,{prompt: "Selecione um Ponto"}, {class: "form-control"}) %>
                  </div>
                  <%= builder1.link_to_remove "Remover Ponto" %>
              </div>
          <% end %>
          <p><%= f.link_to_add "Adicionar Ponto", :itinerary_events %></p>
        </div>
        <div class="col-md-4">
          <strong>Serviços</strong>
          <br>
          <%= f.fields_for :itinerary_services do |builder2| %>
              <div class="well">

                  <div class="form-group">
                    <label for="order">Ordem</label><br/>
                    <%= builder2.select :order, (0..30) , {},  { :class => 'form-control' ,:prompt=> "Selecione a ordem",:id=>"order" } %>
                  </div>
                  <br/>
                  <div class="form-group">
                    <label for="ponto">Ponto</label>
                    <%= builder2.collection_select(:service_id,ServiceTranslation.all,:service_id,:name,{prompt: "Selecione um Tipo"}, {class: "form-control"}) %>
                  </div>
                  <%= builder2.link_to_remove "Remover Ponto" %>
              </div>
          <% end %>
          <p><%= f.link_to_add "Adicionar Ponto", :itinerary_services %></p>
        </div>
      </div>
      <br/>
      <br/> 
      <%= f.submit "Guardar", :class =>"btn btn-primary" %>
      <br/>
      <br/>
    </form>
    </div>
<% end %>