
<div class="page-header">
  <h1><%= @itinerary.name %></h1>
</div>
<div class="col-md-12">
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-6">
         <dl class="dl-horizontal">
          <%
             if @itinerary.description != nil
          %>
                <dt>Descrição</dt>
                <dd><%= @itinerary.description %></dd>
          <%
             end
             if @itinerary.itinerary_type_id != nil
               tipopoint=ItineraryType.where(["id = ?", @itinerary.itinerary_type_id ]).first
               tipo=tipopoint.name;
          %>
                <dt>Tipo</dt>
                <dd><%= tipo %></dd>
          <%
             end
             @itinerary_att=ItineraryAttraction.where("itinerary_id=?",@itinerary.id).all
             if @itinerary_att.length != 0
          %>
               <dt>Prontos de Interesse</dt>
               <dd></dd>
               <%
                  @itinerary_att.each  do |p|
                    att=AttractionTranslation.where("attraction_id=?",p.attraction_id).first
               %>
                   <dt class="text-muted"><small><%= att.name%></small></dt>
                   <dd><%= link_to "Ver mais", attraction_path(p.attraction_id) , :class=>"label label-primary label-square" %></dd>
               <%
                  end
             end
             @itinerary_servi=ItineraryService.where("itinerary_id=?",@itinerary.id).all
             if @itinerary_servi.length != 0
          %>
                <dt>Serviços</dt>
                <dd></dd>
                <%
                   @itinerary_servi.each  do |p|
                       ser=ServiceTranslation.where("service_id=?",p.service_id).first
                %>
                        <dt class="text-muted"><small><%= ser.name%></small></dt>
                        <dd><%= link_to "Ver mais", service_path(p.service_id) , :class=>"label label-primary label-square" %></dd>
                       <%
                   end
             end
             @itinerary_even=ItineraryEvent.where("itinerary_id=?",@itinerary.id).all
             if @itinerary_even.length != 0
                       %>
               <dt>Eventos</dt>
               <dd></dd>
               <%
                  @itinerary_even.each  do |p|
                    eve=EventTranslation.where("event_id=?",p.event_id).first
               %>
                   <dt class="text-muted"><small><%= eve.name%></small></dt>
                   <dd><%= link_to "Ver mais", event_path(p.event_id) , :class=>"label label-primary label-square" %></dd>
               <%
                  end
             end
          %>
        </dl>
      </div>
      <div class="col-md-6">
        <div id="map-canvas" style="width: 100%; height: 400px"></div>
      </div>
    </div>
    <br>
    <table class="table">
      <tr class="col-md-3">
        <td style="border-top: none;"><%= link_to 'Voltar', itineraries_path ,:class => "btn btn-default btn-square"%></td>
        <td style="border-top: none;"><%= link_to 'Editar', edit_itinerary_path(@itinerary),:class => "btn btn-primary btn-square" %></td>
      </tr>
    </table>
  </div>
</div>