<%= stylesheet_link_tag "welcome2" %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_WbKcg0_KTnKKamashIIIG5xz46DY2N4&sensor=false"></script>
<script>
  var locations=[];
</script>
<style>
  #map-canvas { height: 100% }
  dt{
    padding-bottom: 5px;
  }
  dd{
    padding-bottom: 15px;
  }
</style>

<div class="container" >
  <div class="row" style="margin-top:15px">
    <%  num=0;
        @itinerary.itinerary_attractions.each do |photo_att|
          num = num + photo_att.attraction.photo_attractions.count
        end
        @itinerary.itinerary_events.each do |photo_event|
          num = num + photo_event.event.photo_events.count
        end
        @itinerary.itinerary_services.each do |photo_service|
          num = num + photo_service.service.photo_services.count
        end
        if num > 0 
    %>
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" style="margin-bottom:10px; ">
      <div style="position: absolute;z-index: 1000;margin-top: 75px;font-size: 50px;width: 80%;text-align: center;margin-left:10%">
        <h1 style="font-weight: 700; color:#fff;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);font-size: 1.3em;">
          <%=  @itinerary.name%>
        </h1>
      </div>
      <div class="carousel-inner">
        <% @num_images=0;
        @itinerary.itinerary_attractions.each do |photo_att|
          photo_att.attraction.photo_attractions.each_with_index do |p|
            @num_images = @num_images + 1
         %>
        <% if @num_images==0 %>
        <div class="item active">
          <% else %>
          <div class="item">
            <% end %>
            <%= image_tag p.photo.url(:medium,false) , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
            <div class="carousel-caption"></div>
          </div>
          <% end 
             end %>
          <% @itinerary.itinerary_events.each do |photo_event|
            photo_event.event.photo_events.each_with_index do |p| 
            @num_images = @num_images + 1 
          %>

        <% if @num_images==0 %>
        <div class="item active">
          <% else %>
          <div class="item">
            <% end %>
            <%= image_tag p.photo.url(:medium,false) , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
            <div class="carousel-caption"></div>
          </div>
          <% end
             end  %>
          <% @itinerary.itinerary_services.each do |photo_service|
            photo_service.service.photo_services.each_with_index do |p| 
              @num_images = @num_images + 1
          %>
        <% if @num_images ==0 %>
        <div class="item active">
          <% else %>
          <div class="item">
          <% end %>
            <%= image_tag p.photo.url(:medium,false) , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
            <div class="carousel-caption"></div>
          </div>
          <% end end %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
        <span class="fa fa-chevron-right"></span>
        </a>
      </div>
      <% else %>

      <div class="page-header">
        <h1><%=  @itinerary.name%></h1>
      </div>

      <% end %>

     
    </div>
</div>


<div class="col-md-12">
    <div class="row" style="margin-top: 15px; margin-bottom:20px">
      <div class="col-md-6">
         <% if num > 0 %>
        <h3 style="margin-top:0; padding-top:0;border-bottom: 1px solid #ecf0f1;margin-bottom: 25px;">Informações</h3>
        <% end %>        
         <dl>
          <%
             if @itinerary.description != nil
          %>
                <dt>Descrição</dt>
                <dd><%= @itinerary.description %></dd>
          <%
             end
             if @itinerary.itinerary_type_id != nil
               tipopoint= @itinerary.itinerary_type
               tipo=tipopoint.name;
          %>
                <dt>Tipo</dt>
                <dd><%= tipo %></dd>
          <%
             end
             @itinerary_att=@itinerary.itinerary_attractions
             if @itinerary_att.length != 0
          %>
          <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  Prontos de Interesse
                </a>
               <%
                  @itinerary_att.each  do |p|
                    att=p.attraction.attraction_translations.first
                    att2=p.attraction
                    target1="#att#{att.attraction_id}"
                    target2="att#{att.attraction_id}"
               %>
                   <script>
                     var att=["<%= att.name %>",<%= att2.latitude %>,<%= att2.longitude %>,<%= p.order %>];
                     locations.push(att);
                   </script>
          
                  <a href="#" class="list-group-item text-center" data-toggle="modal" data-target="<%= target1 %>">
                   <%= att.name%> 
                  </a> 
                 </div>
                   <!-- Modal -->
                   <div class="modal fade" id="<%= target2 %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">
                         <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           <h4 class="modal-title" id="myModalLabel"><%= att.name %></h4>
                         </div>
                         <div class="modal-body">
                           <dl class="horizontal">
                             <%
                             if att.description != nil
                             %>
                             <dt>Descrição</dt>
                             <dd><%= att.description%></dd>
                             <%
                             end
                             if att.schedule != nil
                             %>
                                 <dt>Horário</dt>
                                 <dd><%= att.schedule%></dd>
                             <%
                             end
                             if att.transport!= nil
                             %>
                                 <dt>Transporte</dt>
                                 <dd><%= att.transport%></dd>
                             <%
                             end
                             if att.price != nil
                             %>
                                 <dt>Preço</dt>
                                 <dd><%= att.price%></dd>
                             <%
                             end
                             %>
                           </dl>
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                         </div>
                       </div><!-- /.modal-content -->
                     </div><!-- /.modal-dialog -->
                   </div><!-- /.modal -->
               <%
                  end
             end
             @itinerary_servi=@itinerary.itinerary_services
             if @itinerary_servi.length != 0
          %>
            <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  Serviços
                </a>
                <%
                   @itinerary_servi.each  do |p|
                       ser=p.service.service_translations.first
                       ser2=p.service
                       target1="#att#{ser.service_id}"
                       target2="att#{ser.service_id}"
                %>
                 <script>
                     var ser=["<%= ser.name %>",<%= ser2.latitude %>,<%= ser2.longitude %>,<%= p.order %>];
                     locations.push(ser);
                 </script>
                  <a href="#" class="list-group-item text-center" data-toggle="modal" data-target="<%= target1 %>"><%= ser.name%></a>
                </div>
                   <!-- Modal -->
                   <div class="modal fade" id="<%= target2 %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">
                         <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           <h4 class="modal-title" id="myModalLabel"><%= ser.name %></h4>
                         </div>
                         <div class="modal-body">
                           <dl class="horizontal">
                             <%
                                if ser.description != nil
                             %>
                                 <dt>Descrição</dt>
                                 <dd><%= ser.description%></dd>
                             <%
                                end
                                if ser.schedule != nil
                             %>
                                 <dt>Horário</dt>
                                 <dd><%= ser.schedule%></dd>
                             <%
                                end
                                if ser.transport!= nil
                             %>
                                 <dt>Transporte</dt>
                                 <dd><%= ser.transport%></dd>
                             <%
                                end
                             %>
                           </dl>
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                         </div>
                       </div><!-- /.modal-content -->
                     </div><!-- /.modal-dialog -->
                   </div><!-- /.modal -->
                       <%
                   end
             end
             @itinerary_even=@itinerary.itinerary_events
             if @itinerary_even.length != 0
                       %>
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  Eventos
                </a>
                <%
                  @itinerary_even.each  do |p|
                    eve=p.event.event_translations.first
                    eve2=p.event
                    target1="#att#{eve.event_id}"
                    target2="att#{eve.event_id}"
               %>
                 <script>
                     var even=["<%= eve.name %>",<%= eve2.latitude %>,<%= eve2.longitude %>,<%= p.order %>];
                     locations.push(even);
                 </script>
                 <a href="#" class="list-group-item  text-center" data-toggle="modal" data-target="<%= target1 %>">  <%= eve.name%> </a>
              </div>               
                 <!-- Modal -->
                 <div class="modal fade" id="<%= target2 %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                         <h4 class="modal-title" id="myModalLabel"><%= eve.name %></h4>
                       </div>
                       <div class="modal-body">
                         <dl class="horizontal">
                           <%
                              if eve.description != nil
                           %>
                               <dt>Descrição</dt>
                               <dd><%= eve.description%></dd>
                           <%
                              end
                              if eve.schedule != nil
                           %>
                               <dt>Horário</dt>
                               <dd><%= eve.schedule%></dd>
                           <%
                              end
                              if eve.transport!= nil
                           %>
                               <dt>Transporte</dt>
                               <dd><%= eve.transport%></dd>
                           <%
                              end
                              if eve.price != nil
                           %>
                               <dt>Preço</dt>
                               <dd><%= eve.price%></dd>
                           <%
                              end
                              if eve.program != nil
                           %>
                               <dt>Programa</dt>
                               <dd><%= eve.program%></dd>
                           <%
                              end
                           %>
                         </dl>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                       </div>
                     </div><!-- /.modal-content -->
                   </div><!-- /.modal-dialog -->
                 </div><!-- /.modal -->
               <%
                  end
             end
          %>
        </dl>
      </div>
      <div class="col-md-6">
        <div class="row"  style="margin-top:15px;">
          <div class="col-sm-6 text-center">
            <%= link_to edit_itinerary_path(@itinerary), {:class => 'btn btn-primary', :style =>"min-width:150px"} do%>
            Editar
            <%end%>
          </div>
          <div class="col-sm-6 text-center">
            <%= link_to @itinerary, {:class => 'btn btn-primary', :style =>"min-width:150px", method: :delete, data: { confirm: 'Tem a certeza que quer eliminar este ponto de interesse?'} } do %>
            Remover
            <% end %>
          </div>
      </div>
      <div id="map-canvas" style="width: 100%; height: 400px; margin-top:15px"></div>
      </div>
    </div>
    <br>
  </div>
</div>

<script type="text/javascript">
    function initialize() {
        var styles = [{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]},{"featureType":"landscape","stylers":[{"color":"#f2e5d4"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"road"},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{},{"featureType":"road","stylers":[{"lightness":20}]}];
        var mapOptions = {
            zoom: 13,
            center: new google.maps.LatLng(locations[0][1],locations[0][2])
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);



        var image ="<%= image_url "maker.png"%>";

        // Shapes define the clickable region of the icon.
        // The type defines an HTML &lt;area&gt; element 'poly' which
        // traces out a polygon as a series of X,Y points. The final
        // coordinate closes the poly by connecting to the first
        // coordinate.

        var shape = {
            coord: [1, 1, 1, 20, 18, 20, 18 , 1],
            type: 'poly'
        };

        for (var i = 0; i < locations.length; i++) {
            var beach = locations[i];
            var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image,
                title: beach[0],
                zIndex: beach[3]
            });
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>