<%= form_for(@comment_service) do |f| %>
  <% if @comment_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment_service.errors.count, "error") %> prohibited this comment_service from being saved:</h2>

      <ul>
      <% @comment_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :evaluationdate %><br>
    <%= f.date_select :evaluationdate %>
  </div>
  <div class="field">
    <%= f.label :mobile_user_id %><br>
    <%= f.number_field :mobile_user_id %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.number_field :service_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
