<%= form_for(@service) do |f| %>
    <% if @service.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

          <ul>
            <% @service.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <form role="form" class="form-horizontal">
      <%= f.fields_for :service_translations do |e| %>
          <div class="row">
            <div class="form-group">
              <%= e.label "Nome" ,:for=>"name" , :class=>"col-sm-1 control-label" %>
              <div class="col-sm-6">
                <%= e.text_field :name ,:id=>"name" , :class=>"form-control form-control-square", :placeholder=>"Restaurante " %>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="form-group">
              <%= e.label "Descrição" ,:for=>"description" , :class=>"col-sm-1 control-label" %>
              <div class="col-sm-6">
                <%= e.text_area :description ,:id=>"description" , :class=>"form-control form-control-square", :placeholder=>"Festa muito popular em Braga", :style=>"height:135px;" %>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="form-group">
              <%= e.label "Horário" ,:for=>"schedule" , :class=>"col-sm-1 control-label" %>
              <div class="col-sm-6">
                <%= e.text_field :schedule ,:id=>"schedule" , :class=>"form-control form-control-square", :placeholder=>"Segunda a Sexta das 10:00 as 21:00" %>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="form-group">
              <%= e.label "Transporte" ,:for=>"transport" , :class=>"col-sm-1 control-label" %>
              <div class="col-sm-6">
                <%= e.text_field :transport ,:id=>"transport" , :class=>"form-control form-control-square", :placeholder=>"Maneiras de transporte" %>
              </div>
            </div>
          </div>
          <br/>
          <%
             lang=Language.where("id=?",current_user.language_id).first
          %>
          <%= e.text_field :language , :type=>"hidden" , :value=>lang.name%>
      <% end %>
      <div class="row">
        <div class="form-group">
          <%= f.label "Site" ,:for=>"site" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :site ,:id=>"site" , :class=>"form-control form-control-square", :placeholder=>"www.esquinadoze.pt" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <%= f.label "Email" ,:for=>"email" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :email ,:id=>"email" , :class=>"form-control form-control-square", :placeholder=>"reservas@esquinadoze.pt" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <%= f.label "Morada" ,:for=>"address" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :address ,:id=>"address" , :class=>"form-control form-control-square", :placeholder=>"Esquina da Avenida Central" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <%= f.label "Coordenadas Geograficas" ,:for=>"latitude" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-3">
            <%= f.text_field :latitude ,:id=>"latitude" , :class=>"form-control form-control-square", :placeholder=>"41.32217"%>
          </div>
          <div class="col-sm-3">
            <%= f.text_field :longitude ,:id=>"longitude" , :class=>"form-control form-control-square", :placeholder=>"-8.493226"%>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label">Ponto de referência</label>
          <div class="col-sm-6">
            <%= f.check_box :accessibility ,:id=>"accessibility" , :value=>0 %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <%= f.label "Capacidade" ,:for=>"capacity" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :capacity ,:id=>"capacity" , :class=>"form-control form-control-square", :placeholder=>"Capacidade para 50 pessoas" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <%= f.label "Detalhes" ,:for=>"details" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :details ,:id=>"details" , :class=>"form-control form-control-square", :placeholder=>"Detalhes extras..." %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-wheelchair"></i></label>
          <div class="col-sm-6">
            <%= f.check_box :accessibility ,:id=>"accessibility" , :value=>0 %>
          </div>
        </div>
      </div>
      <br/>
      <%= fields_for :service_types do |type| %>
          <div class="row">
            <div class="form-group">
              <%= type.label "Tipo de Serviço" ,:for=>"type_id" , :class=>"col-sm-1 control-label" %>
              <div class="col-sm-6">
                <%= type.collection_select( :type_id, Type.all, :id, :name ,{prompt: "Selecione um Tipo"}, {class: "form-control form-control-square"} ) %>
              </div>
            </div>
          </div>
          <br/>
      <%
         end
      %>
      <!-- Value by sustem-->
      <%= time = Time.now.to_i; f.text_field :timestamp , :value=>time , :hidden=>"hidden" %>
      <%
         user=WebUser.where("id=?",current_user.id).first
      %>
      <%= f.text_field :city_id ,:id=>"city_id", :value=> user.city_id, :hidden=>"hidden" %>
      <%= f.text_field :active ,:id=>"active", :value=>1 , :hidden=>"hidden" %>
      <%= f.text_field :web_user_id ,:id=>"web_user_id", :value=>current_user.id , :hidden=>"hidden" %>
      <br/>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-6">
            <%= f.submit :class=>"btn btn-primary btn-square" %>
          </div>
          <br/>
          <br/>
        </div>
      </div>
    </form>
    <br/>
<% end %>