<h1>Listing services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Schedule</th>
      <th>Site</th>
      <th>Email</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Transport</th>
      <th>Reference point</th>
      <th>Active</th>
      <th>Timestamp</th>
      <th>Capacity</th>
      <th>Details</th>
      <th>Service type</th>
      <th>City</th>
      <th>Web user</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.schedule %></td>
        <td><%= service.site %></td>
        <td><%= service.email %></td>
        <td><%= service.address %></td>
        <td><%= service.latitude %></td>
        <td><%= service.longitude %></td>
        <td><%= service.transport %></td>
        <td><%= service.reference_point %></td>
        <td><%= service.active %></td>
        <td><%= service.timestamp %></td>
        <td><%= service.capacity %></td>
        <td><%= service.details %></td>
        <td><%= service.service_type_id %></td>
        <td><%= service.city_id %></td>
        <td><%= service.web_user_id %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
