<%= javascript_include_tag "autocomplete" %>

<div class="page-header">
    <h1>Lista dos seus Estabelecimentos</h1>
</div>

<%= csrf_meta_tag %>

<br>
<%= form_tag services_path, :method=>'get' do  |f|%>
    <table>
      <tr>
        <td class="col-sm-2"><%= link_to 'Registar novo Estabelecimento', new_service_path ,:class=>"btn btn-primary btn-square"%></td>
        <td class="col-sm-2"></td>
        <td class="col-sm-3"><%= text_field_tag :search, params[:search], class: "with_autocomplete form-control", 'data-autocompleteUrl' => autocomplete_service_name_services_path%></td>
        <td class="col-sm-1"><%= submit_tag "Procurar", :name => nil, :class=>"btn btn-default" %></td>
      </tr>
    </table>
<% end %>
<br>
<%= form_tag services_excel_path,  :multipart => true , :method=>'post' do  |f|%>
<div class="col-sm-3" style="margin-bottom:25px">
  <%= file_field_tag "services[file]" %>
</div>
<div class="col-sm-6">
  <%= submit_tag "Submeter ficheiro", :name => nil%>
</div>
<% end %>


<%
   @services.each do |service|
     serv=service.service_translations.first
%>
    <br/>
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-xs-3 col-md-3 text-center">

            <%= image_tag "Index/douro.jpg" , :style =>"max-height:180px; max-width:200px" %>
          </div>
          <div class="col-xs-9 col-md-9 section-box">
            <div class="row">
              <div class="col-md-8">
                <h4>
                  <strong><%= link_to serv.name, service %></strong>
                  <%
                  if service.accessibility !=0
                  %><small><i class="fa fa-wheelchair"></i></small><%
                  end
                  %>
                </h4>
              </div>
              <div  class="col-md-4 text-right" style="min-height:30px">
                <%= link_to edit_service_path(service) do %>
                    <span class="fa fa-edit"> </span>Editar
                <% end %>
                <%= link_to service, method: :delete, data: { confirm: 'Are you sure?'}  do %>
                    <span class="fa fa-trash-o"></span>Remover
                <% end %>
              </div>
            </div>
            <div >
              <p>
                <b>Descrição: </b>
                <%= truncate serv.description, length: 300 %>
                <%= link_to 'Ler mais', service %><br/>
              </p>
              <p>
                <b>Horário: </b><%= serv.schedule %><br/>
                <b>Capacidade:</b><%= service.capacity %> <br/>
                <b>Email:</b><%= service.email %> <br/>
                <b>Site:</b><%= service.site %> <br/>
              </p>
              <hr/>
              <div class="row rating-desc">
                <div class="col-md-12">
                  <%
                     val=service.rating
                     indice=0;
                     while val >0
                  %><span class="fa fa-star"></span><%
                   val=val-1
                   indice=indice+1
                   end
                   while indice <5
                %><span class="fa fa-star-o"></span><%
                   indice=indice+1
                   end
                %>
                  <span class="separator">|</span>
                  <%
                     commes=CommentService.where("service_id=?",service.id).all
                     size=commes.length
                  %>
                  <span class="fa fa-comment"></span>(<%= size %> Comments)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= paginate @services %>
<br/>
