<%= javascript_include_tag "photo_services" %>
<%= stylesheet_link_tag "welcome2" %>


<%
   servi=@service.service_translations.first

%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_WbKcg0_KTnKKamashIIIG5xz46DY2N4&sensor=false"></script>
<script type="text/javascript">


    var stockholm = new google.maps.LatLng(<%= @service.latitude %>, <%= @service.longitude %>);
    var parliament = new google.maps.LatLng(<%= @service.latitude %>, <%= @service.longitude %>);
    var marker;
    var map;

    function initialize() {
        // Create an array of styles.
        var styles = [{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]},{"featureType":"landscape","stylers":[{"color":"#f2e5d4"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"road"},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{},{"featureType":"road","stylers":[{"lightness":20}]}];

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles,
                {name: "Styled Map"});


        var mapOptions = {
            zoom: 11,
            center: stockholm
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

        var image="<%= image_url "maker.png"%>";

        marker = new google.maps.Marker({
            map:map,
            animation: google.maps.Animation.DROP,
            position: parliament,
            icon: image
        });
        google.maps.event.addListener(marker, 'click', toggleBounce);
        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
    }

    function toggleBounce() {

        if (marker.getAnimation() != null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div class="container" >
  <% if !@service.photo_services.blank? %>
  <div class="row" style="margin-top:15px">

    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" style="margin-bottom:10px; ">
      <div style="position: absolute;z-index: 1000;margin-top: 75px;font-size: 50px;width: 80%;text-align: center;margin-left:10%">
        <h1 style="font-weight: 700; color:#fff;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);font-size: 1.3em;">
          <%= servi.name%>
        </h1>
      </div>
      <div class="carousel-inner">
        <% @service.photo_services.each_with_index do |p,i| %>
        <% if i==0 %>
        <div class="item active">
          <% else %>
          <div class="item">
            <% end %>
            <%= image_tag p.photo.url(:medium,false) , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
            <div class="carousel-caption"></div>
          </div>
          <% end %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
        <span class="fa fa-chevron-right"></span>
        </a>
      </div>
    
     
    </div>
    <% else %>
      <div class="page-header">
        <h1><%= servi.name%></h1>
      </div>
    <% end %>

</div>


<div class="container" >
<div class="row" style="margin-top: 15px; margin-bottom:20px" >

  <div class="row">
    <div class="col-md-6">
       <h3 style="margin-top:0; padding-top:0;border-bottom: 1px solid #ecf0f1;margin-bottom: 25px;">Informações</h3>
      <dl class="dl-horizontal">
        <%
           if @service.rating != 0
        %>
            <dt>Classificação</dt>
            <dd>

              <%
                 val=@service.rating
                 indice=0;
                 while val >0
              %><span class="fa fa-star"></span><%
               val=val-1
               indice=indice+1
               end
               while indice <5
            %><span class="fa fa-star-o"></span><%
               indice=indice+1
               end
            %>
            </dd>
        <%
           end
           @servic=@service.service_types.all
           if @servic.length!=0
        %>
            <dt>Tipo</dt>
            <dd>
              <%
                 @servic.each do |tipo|
              %>
                  <%= tipo.type.name %><br/>
              <%
                 end
              %>
            </dd>
        <%

           end
           if servi.description != nil
        %>
            <dt>Descrição</dt>
            <dd style="text-overflow: ellipsis;text-align: justify"><%= servi.description%></dd>
        <%
           end
           if servi.schedule != nil
        %>
            <dt>Horário</dt>
            <dd style="text-overflow: ellipsis;width: 150px;"><%= servi.schedule%></dd>
        <%
           end
           if servi.transport != nil
        %>
            <dt>Transporte</dt>
            <dd style="text-overflow: ellipsis;width: 150px;"><%= servi.transport%></dd>
        <%
           end
           if @service.site != nil
        %>
            <dt>Site</dt>
            <dd><%= @service.site %></dd>
        <%
           end
           if @service.email != nil
        %>
            <dt>Email</dt>
            <dd><%= @service.email %></dd>
        <%
           end
           if @service.address != nil
        %>
            <dt>Morada</dt>
            <dd><%= @service.address %></dd>
        <%
           end
           if @service.reference_point == true
        %>
            <dt>Ponto de Referência</dt>
            <dd>
              <i class="fa fa-check"></i>
            </dd>
        <%
           end
           if @service.capacity != nil
        %>
            <dt>Capacidade</dt>
            <dd><%= @service.capacity %></dd>
        <%
           end
           if @service.details != nil
        %>
            <dt>Detalhes</dt>
            <dd><%= @service.details %></dd>
        <%
           end
        %>
      </dl>
      <span style="border-top: none;"><%= link_to 'Voltar', services_path ,:class=>"btn btn-default btn-square"%></span>
    </div>
    <div class="col-sm-6">
      <div class="row"  style="margin-top:15px">
        <div class="col-sm-4">
          <%= form_for @photo_service=PhotoService.new, :url => service_photo_services_path, html: { multipart: true } do |f| %>
              <% if @photo_service.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@photo_service.errors.count, "error") %> Prohibited this upload from being saved:</h2>

                    <ul>
                      <% @photo_service.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="actions">

                <%= f.file_field :photo, multiple: true, name: 'photo_service[photo]', :class=>"filestyle" %>
                <%= f.hidden_field :service_id,  :value => @service.id %>
              </div>
              <script>
                  $(":file").filestyle({input: false,classButton: "btn btn-primary",buttonText: "Adicione uma Foto"});
              </script>
          <% end %>
          <% # jquery upload template # %>
          <script id="template-upload" type="text/x-tmpl">
                <div class="upload">
                {%=o.name%}
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%">
                         <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
          </script>
        </div>
        <div class="col-sm-4 text-center">
          <%= link_to edit_service_path(@service), {:class => 'btn btn-primary', :style =>"min-width:150px"} do%>
          Editar
          <%end%>
        </div>
        <div class="col-sm-4 text-right">
          <%= link_to @service, {:class => 'btn btn-primary', :style =>"min-width:150px", method: :delete, data: { confirm: 'Tem a certeza que quer eliminar este ponto de interesse?'} } do %>
          Remover
          <% end %>
        </div>
    </div>


      <div id="map-canvas" style="width: 100%; height: 400px; margin-top:15px"></div>
    </div>
  </div>
  <hr>
  <%
     @coments= @service.comment_services
     unless @coments.blank?
  %>
      <div class="row">
        <h3>Comentários</h3>
        <%
           @coments.each do |co|%>
            <div class="media-body bubble-body bubble-arrow-left">
              <div class="bubble-inner">
                <%
                   if co.mobile_user_id != nil
                     usermovel=co.mobile_user.user
                     nome=usermovel.username
                   else
                     nome="Anonimo"
                   end
                %>
                <h4 class="media-heading bubble-heading"><%= nome %></h4>
                <div class="bubble-content">
                  <p><%= co.comment %></p><p>
                </p></div>
              </div>
            </div>
        <%
           end
        %>
      </div>
  <%
     end
  %>
</div>
</div>
