<%
   servi=ServiceTranslation.where("service_id=?",@service.id).first

%>
<div class="well well-lg">
  <h1>
    <%= servi.name%>
    <%
    if @service.accessibility !=0
        %><small><i class="fa fa-wheelchair"></i></small><%
    end
    %>
  </h1>
  <br/>
  <%= link_to edit_service_path(@service) do
  %><i class="fa fa-edit"></i> Editar<%
   end
%>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <%
           if @service.rating != 0
        %>
            <dt>Classificação</dt>
            <dd>
              val=event.rating
              <%
                 indice=0;
                 while val >0
              %><span class="fa fa-star"></span><%
               val=val-1
               indice=indice+1
               end
               while indice <5
            %><span class="fa fa-star-o"></span><%
               indice=indice+1
               end
            %>
            </dd>
        <%
           end
           @servic=@service.service_types.all
           if @servic.length!=0
        %>
            <dt>Tipo</dt>
            <dd>
              <%
                 @servic.each do |tipo|
                   @servi=Type.where("id=?",tipo.type_id)
              %>
                  <%= @servi.first.name %><br/>
              <%
                 end
              %>
            </dd>
        <%

           end
           if servi.description != nil
        %>
            <dt>Descrição</dt>
            <dd style="text-overflow: ellipsis;width: 150px;"><%= servi.description%></dd>
        <%
           end
           if servi.schedule != nil
        %>
            <dt>Horário</dt>
            <dd style="text-overflow: ellipsis;width: 150px;"><%= servi.schedule%></dd>
        <%
           end
           if servi.transport != nil
        %>
            <dt>Transporte</dt>
            <dd style="text-overflow: ellipsis;width: 150px;"><%= servi.transport%></dd>
        <%
           end
           if @service.site != nil
        %>
            <dt>Site</dt>
            <dd><%= @service.site %></dd>
        <%
           end
           if @service.email != nil
        %>
            <dt>Email</dt>
            <dd><%= @service.email %></dd>
        <%
           end
           if @service.address != nil
        %>
            <dt>Morada</dt>
            <dd><%= @service.address %></dd>
        <%
           end
           if @service.reference_point == true
        %>
            <dt>Ponto de Referência</dt>
            <dd>
              <i class="fa fa-check"></i>
            </dd>
        <%
           end
           if @service.capacity != nil
        %>
            <dt>Capacidade</dt>
            <dd><%= @service.capacity %></dd>
        <%
           end
           if @service.details != nil
        %>
            <dt>Detalhes</dt>
            <dd><%= @service.details %></dd>
        <%
           end
        %>
      </dl>
      <span style="border-top: none;"><%= link_to 'Voltar', services_path ,:class=>"btn btn-default btn-square"%></span>
    </div>
    <div class="col-sm-6">
      <%
         if @service.photo_services != nil%>

      <%
         end
      %>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=500x450&sensor=false&zoom=13&markers=#{@service.latitude}%2C#{@service.longitude}" %>
    </div>
  </div>
  <hr>
  <%
     @coments=CommentService.where("service_id=?",@service.id).all
     if @coments != nil
  %>
      <div class="row">
        <h3>Comentários</h3>
        <%
           @coments.each do |co|%>
            <div class="media-body bubble-body bubble-arrow-left">
              <div class="bubble-inner">
                <%
                   if co.mobile_user_id != nil
                     usermovel=User.where("id=?",co.mobile_user_id).first
                     nome=usermovel.username
                   else
                     nome="Anonimo"
                   end
                %>
                <h4 class="media-heading bubble-heading"><%= nome %></h4>
                <div class="bubble-content">
                  <p><%= co.comment %></p><p>
                </p></div>
              </div>
            </div>
        <%
           end
        %>
      </div>
  <%
     end
  %>
</div>

