<h1>Listing comments_itineraries</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Evalutiondate</th>
      <th>User mobile</th>
      <th>Itinerary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments_itineraries.each do |comments_itinerary| %>
      <tr>
        <td><%= comments_itinerary.comment %></td>
        <td><%= comments_itinerary.evalutiondate %></td>
        <td><%= comments_itinerary.user_mobile_id %></td>
        <td><%= comments_itinerary.itinerary_id %></td>
        <td><%= link_to 'Show', comments_itinerary %></td>
        <td><%= link_to 'Edit', edit_comments_itinerary_path(comments_itinerary) %></td>
        <td><%= link_to 'Destroy', comments_itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comments itinerary', new_comments_itinerary_path %>
