<h1>Listing comments_events</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Evalutiondate</th>
      <th>Mobile user</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments_events.each do |comments_event| %>
      <tr>
        <td><%= comments_event.comment %></td>
        <td><%= comments_event.evalutiondate %></td>
        <td><%= comments_event.mobile_user_id %></td>
        <td><%= comments_event.event_id %></td>
        <td><%= link_to 'Show', comments_event %></td>
        <td><%= link_to 'Edit', edit_comments_event_path(comments_event) %></td>
        <td><%= link_to 'Destroy', comments_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comments event', new_comments_event_path %>
