<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @mobile_user_city.city_id %>
</p>

<p>
  <strong>Mobile user:</strong>
  <%= @mobile_user_city.mobile_user_id %>
</p>

<%= link_to 'Edit', edit_mobile_user_mobile_user_city_path(@mobile_user_city) %> |
<%= link_to 'Back', mobile_user_mobile_user_cities_path %>
