<h1>Listing rating_services</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Evaluationdate</th>
      <th>Mobile user</th>
      <th>Service</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rating_services.each do |rating_service| %>
      <tr>
        <td><%= rating_service.rating %></td>
        <td><%= rating_service.evaluationdate %></td>
        <td><%= rating_service.mobile_user_id %></td>
        <td><%= rating_service.service_id %></td>
        <td><%= link_to 'Show', rating_service %></td>
        <td><%= link_to 'Edit', edit_service_rating_service_path(rating_service) %></td>
        <td><%= link_to 'Destroy', rating_service, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating service', new_rating_service_path %>
