<%= javascript_include_tag "jqBootstrapValidation" %>
<script type="text/css">
#error_explanation {
   .alert();
   .alert-error();
   .alert-block();
}

.field_with_errors {
   .control-group.error();
}
</script>

<%= form_for @web_user, :html => {:novalidate => 'novalidate'} do  |f| %>
<% if @web_user.errors.any? %>
   <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <ul>
         <% @web_user.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>
    <form role="form" class="form-horizontal">
      <div class="row">
        <%= f.text_field :id ,:id=>"nome" ,:type=>"hidden" , :value=>current_user.id %>
        <%= f.text_field :active ,:id=>"active" ,:type=>"hidden" , :value=>"0" %>
        <div class="form-group control-group">
          <%= f.label "Nome" ,:for=>"nome" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :name ,:id=>"nome" ,:autofocus => true, :class=>"form-control form-control-square", :placeholder=>"Nome da sua empresa",:required => true %>
            <p class="help-block"></p>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group control-group">
          <%= f.label "Nif." ,:for=>"nif" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :nif ,:id=>"nif" , :minlength =>"9",:maxlength =>"9" ,:type => "number",:class=>"form-control form-control-square", :placeholder=>"Numero de contribuinte", :required => true  %>
            <p class="help-block"></p>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group control-group">
          <%= f.label "Morada" ,:for=>"address" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :address ,:id=>"address" , :class=>"form-control form-control-square", :placeholder=>"A sua Morada",:required => true %>
            <p class="help-block"></p>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group control-group">
          <%= f.label "Tipo" ,:for=>"address" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <% if @web_user.new_record? %>
              <%= f.collection_select( :web_user_type_id, WebUserType.where("id <> ?",3).all, :id, :name ,{prompt: "Selecione um Tipo"}, {class: "form-control",:required => true} ) %>
              <p class="help-block"></p>
             <% else %>
              <%= f.collection_select( :web_user_type_id, WebUserType.where("id <> ?",3).all, :id, :name ,{prompt: "Selecione um Tipo"}, {class: "form-control",:disabled => true} ) %>
            <% end %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group control-group">
          <%= f.label "Cidade" ,:for=>"address" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <% if @web_user.new_record? %>
              <%= f.collection_select( :city_id, City.all, :id, :name ,{prompt: "Selecione um Tipo"}, {class: "form-control",:required => true} ) %>
              <p class="help-block"></p>
              <% else %>
                <%= f.collection_select( :city_id, City.all, :id, :name ,{prompt: "Selecione um Tipo"}, {class: "form-control",:disabled => true} ) %>
              <% end %>
          </div>
        </div>
      </div>
      <br/>
      <div><%= f.submit "Guardar" , :class=>"btn btn-primary" , :style=>"width:100px;" %></div>
    </form>
<% end %>


<script>
    $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>