<%= form_for(@web_user) do |f| %>
  <% if @web_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@web_user.errors.count, "error") %> prohibited this web_user from being saved:</h2>

      <ul>
      <% @web_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <form role="form" class="form-horizontal">
      <div class="row">
        <%= f.text_field :id ,:id=>"nome" ,:type=>"hidden" , :value=>current_user.id %>
        <%= f.text_field :active ,:id=>"active" ,:type=>"hidden" , :value=>"0" %>
        <div class="form-group">
          <%= f.label "Nome" ,:for=>"nome" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :name ,:id=>"nome" , :class=>"form-control form-control-square", :placeholder=>"Nome da sua empresa" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <%= f.label "Nif." ,:for=>"nif" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :nif ,:id=>"nif" , :class=>"form-control form-control-square", :placeholder=>"Numero de contribuinte" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <%= f.label "Morada" ,:for=>"address" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :address ,:id=>"address" , :class=>"form-control form-control-square", :placeholder=>"A sua Morada" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <%= f.label "Tipo" ,:for=>"address" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.collection_select( :web_user_type_id, WebUserType.all, :id, :name ,{prompt: "Selecione um Tipo"}, {class: "form-control"} ) %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <%= f.label "Cidade" ,:for=>"address" , :class=>"col-sm-1 control-label" %>
          <div class="col-sm-6">
            <%= f.collection_select( :city_id, City.all, :id, :name ,{prompt: "Selecione um Tipo"}, {class: "form-control"} ) %>
          </div>
        </div>
      </div>
      <br/>
      <div><%= f.submit "Guardar" , :class=>"btn btn-primary" , :style=>"width:100px;" %></div>
    </form>
<% end %>
