<h1>Listing photo_events</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Name</th>
      <th>Description</th>
      <th>Extension</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_events.each do |photo_event| %>
      <tr>
        <td><%= photo_event.url %></td>
        <td><%= photo_event.name %></td>
        <td><%= photo_event.description %></td>
        <td><%= photo_event.extension %></td>
        <td><%= link_to 'Show', photo_event %></td>
        <td><%= link_to 'Edit', edit_event_photo_event_path(photo_event) %></td>
        <td><%= link_to 'Destroy', photo_event, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo event', new_photo_event_path %>
