<h1>Listing itinerary_events</h1>

<table>
  <thead>
    <tr>
      <th>Itinerary</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @itinerary_events.each do |itinerary_event| %>
      <tr>
        <td><%= itinerary_event.itinerary_id %></td>
        <td><%= itinerary_event.event_id %></td>
        <td><%= link_to 'Show', itinerary_event %></td>
        <td><%= link_to 'Edit', edit_itinerary_event_path(itinerary_event) %></td>
        <td><%= link_to 'Destroy', itinerary_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itinerary event', new_itinerary_event_path %>
