<p id="notice"><%= notice %></p>

<p>
  <strong>Itinerary:</strong>
  <%= @itinerary_event.itinerary_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @itinerary_event.event_id %>
</p>

<%= link_to 'Edit', edit_itinerary_itinerary_event_path(@itinerary_event) %> |
<%= link_to 'Back', itinerary_events_path %>
