<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comments_attraction.comment %>
</p>

<p>
  <strong>Evalutiondate:</strong>
  <%= @comments_attraction.evalutiondate %>
</p>

<p>
  <strong>Mobile user:</strong>
  <%= @comments_attraction.mobile_user_id %>
</p>

<p>
  <strong>Attraction:</strong>
  <%= @comments_attraction.attraction_id %>
</p>

<%= link_to 'Edit', edit_comments_attraction_path(@comments_attraction) %> |
<%= link_to 'Back', comments_attractions_path %>
