<%= form_for(@rating_itinerary) do |f| %>
  <% if @rating_itinerary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating_itinerary.errors.count, "error") %> prohibited this rating_itinerary from being saved:</h2>

      <ul>
      <% @rating_itinerary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :evaluationdate %><br>
    <%= f.date_select :evaluationdate %>
  </div>
  <div class="field">
    <%= f.label :user_mobile_id %><br>
    <%= f.number_field :user_mobile_id %>
  </div>
  <div class="field">
    <%= f.label :itinerary_id %><br>
    <%= f.number_field :itinerary_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
