<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @rating_itinerary.rating %>
</p>

<p>
  <strong>Evaluationdate:</strong>
  <%= @rating_itinerary.evaluationdate %>
</p>

<p>
  <strong>User mobile:</strong>
  <%= @rating_itinerary.user_mobile_id %>
</p>

<p>
  <strong>Itinerary:</strong>
  <%= @rating_itinerary.itinerary_id %>
</p>

<%= link_to 'Edit', edit_rating_itinerary_path(@rating_itinerary) %> |
<%= link_to 'Back', rating_itineraries_path %>
