<h1>Listing service_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service_types.each do |service_type| %>
      <tr>
        <td><%= service_type.name %></td>
        <td><%= service_type.description %></td>
        <td><%= link_to 'Show', service_type %></td>
        <td><%= link_to 'Edit', edit_service_type_path(service_type) %></td>
        <td><%= link_to 'Destroy', service_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service type', new_service_type_path %>
