<h1>Listing attraction_big_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attraction_big_types.each do |attraction_big_type| %>
      <tr>
        <td><%= attraction_big_type.name %></td>
        <td><%= attraction_big_type.description %></td>
        <td><%= link_to 'Show', attraction_big_type %></td>
        <td><%= link_to 'Edit', edit_attraction_attraction_big_type_path(attraction_big_type) %></td>
        <td><%= link_to 'Destroy', attraction_big_type, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attraction big type', new_attraction_attraction_big_type_path %>
