<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction_big_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction_big_type.description %>
</p>

<%= link_to 'Edit', edit_attraction_attraction_big_type_path(@attraction_big_type) %> |
<%= link_to 'Back', attraction_attraction_big_types_path %>
