<%= form_for(@photo_attraction) do |f| %>
  <% if @photo_attraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_attraction.errors.count, "error") %> prohibited this photo_attraction from being saved:</h2>

      <ul>
      <% @photo_attraction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :extension %><br>
    <%= f.text_field :extension %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
