<h1>Listing photo_attractions</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Name</th>
      <th>Description</th>
      <th>Extension</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_attractions.each do |photo_attraction| %>
      <tr>
        <td><%= image_tag photo_attraction.photo.url(:thumb,false) %></td>
        <td><%= photo_attraction.name %></td>
        <td><%= photo_attraction.description %></td>
        <td><%= link_to 'Show', photo_attraction %></td>
        <td><%= link_to 'Edit', edit_photo_attraction_path(photo_attraction) %></td>
        <td><%= link_to 'Destroy', photo_attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo attraction', new_photo_attraction_path %>
