<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @photo_service.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @photo_service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo_service.description %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @photo_service.extension %>
</p>

<%= link_to 'Edit', edit_photo_service_path(@photo_service) %> |
<%= link_to 'Back', photo_services_path %>
