<%= form_for(@rating_event) do |f| %>
  <% if @rating_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating_event.errors.count, "error") %> prohibited this rating_event from being saved:</h2>

      <ul>
      <% @rating_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :evaluationdate %><br>
    <%= f.date_select :evaluationdate %>
  </div>
  <div class="field">
    <%= f.label :mobile_user_id %><br>
    <%= f.number_field :mobile_user_id %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
