<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @rating_event.rating %>
</p>

<p>
  <strong>Evaluationdate:</strong>
  <%= @rating_event.evaluationdate %>
</p>

<p>
  <strong>Mobile user:</strong>
  <%= @rating_event.mobile_user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @rating_event.event_id %>
</p>

<%= link_to 'Edit', edit_rating_event_path(@rating_event) %> |
<%= link_to 'Back', rating_events_path %>
