
<div class="row">
	<div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
	  	<!-- Indicators
	  	<ol class="carousel-indicators">
	    	<li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
	    	<li data-target="#carousel-example-generic1" data-slide-to="1"></li>
	    	<li data-target="#carousel-example-generic1" data-slide-to="2"></li>
	    	<li data-target="#carousel-example-generic1" data-slide-to="3"></li>
	  	</ol>-->

	  	<!-- Text -->
	  	<div class="carousel-inner">
		  	<div class="item active">
		  		<%= image_tag "Index/douro.jpg" , { style: "text-align:center; vertical-align:middle; height:400px; width: 100%;" } %>
		  		<div class="carousel-caption">
		  		</div>
			</div>
			<div class="item">
		  		<%= image_tag "Index/faro.jpg" , { style: "text-align:center; vertical-align:middle; height:400px; width: 100%;" } %>
		  		<div class="carousel-caption">
		  		</div>
			</div>
			<div class="item">
		  		<%= image_tag "Index/lisboa.jpg" , { style: "text-align:center; vertical-align:middle; height:400px; width: 100%;" } %>
		  		<div class="carousel-caption">
		  		</div>
			</div>
			<div class="item">
		  		<%= image_tag "Index/palacio.jpg" , { style: "text-align:center; vertical-align:middle; height:400px; width: 100%;" } %>
		  		<div class="carousel-caption">
		  		</div>
			</div>
		</div>
	  	<!-- Controls -->
	  	<a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
	   		<span class="glyphicon glyphicon-chevron-left"></span>
	  	</a>
	  	<a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
	    	<span class="glyphicon glyphicon-chevron-right"></span>
	  	</a>
	</div>
</div>
<hr/>
<div class="row">
	<h3 style="text-align:center;">Prefeito para comerciantes</h3>
	<br/>
	<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	    	<div class="caption">
	        	<h3>Básico</h3>
	        	<p>
	        		<li>
	        			Personalização do perfil;
	        		</li>
	        		<li>
	        			Publicações de eventos;
	        		</li>
	        		<li>
	        			Métricas sobre a utilização do serviço;
	        		</li>
	        	</p>
	        	<p><a href="#" class="btn btn-primary" role="button">Subscrever	</a> </p>
	      	</div>
	    </div>
	</div>
	<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	    	<div class="caption">
	        	<h3>Profissional</h3>
	        	<p>
	        		<li>
	        			Personalização do perfil;
	        		</li>
	        		<li>
	        			Publicações de eventos;
	        		</li>
	        		<li>
	        			Métricas sobre a utilização do serviço;
	        		</li>
	        	</p>
	        	<p><a href="#" class="btn btn-primary" role="button">Subscrever	</a> </p>
	      	</div>
	    </div>
	</div>
	<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	    	<div class="caption">
	        	<h3>Avançado</h3>
	        	<p>
	        		<li>
	        			Personalização do perfil;
	        		</li>
	        		<li>
	        			Publicações de eventos;
	        		</li>
	        		<li>
	        			Métricas sobre a utilização do serviço;
	        		</li>
	        	</p>
	        	<p><a href="#" class="btn btn-primary" role="button">Subscrever	</a> </p>
	      	</div>
	    </div>
	</div>
</div>
<hr class="featurette-divider"/>
<div class="featurette">
    <%= image_tag 'Index/Logo.png', :class=>"featurette-image pull-right" %>
    <h2 class="featurette-heading">CityRoots</h2><h4><span class="muted">Feel each place</span></h4>
    <p class="lead">
    	A aplicação CityRoots tem como utilizador final alvo os turistas, nacionais e internacionais, de Portugal e como fornecedores de conteúdo instituições de turismo, cultura e estabelecimentos de restauração e lazer. Para o CityRoots se destacar no mercado sobrecarregado das aplicações de turismo, esta aplicação vai primar por informação fiável, fornecida por entidades de turismo, câmaras e instituições de cultura (teatros, museus, etc). Outro factor diferenciador do CityRoots, é o fato deste ter o seu foco não só nas grandes cidades, mas também nas cidades mais pequenas e mesmo vilas de interesse turístico.
		Para garantir informação atualizada e promover o comércio e eventos nacionais, os fornecedores de informação podem alterar a informação livremente, podendo adicionar eventos para datas específicas.
		Apesar da necessidade de internet, para descarregar a aplicação e respectivos mapas, o utilizador pode utilizar a aplicação em modo offline, consultando os mapas descarregados anteriormente.
    </p>
</div>