<%= stylesheet_link_tag "welcome" %>

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <%= image_tag "logo_CR-1.png",  style: "max-width: 25%; margin-bottom:7%; margin-top:7%" %>
          <ul class="list-inline intro-social-buttons">
            <li><a href="https://www.facebook.com/CityRootsapp" class="btn btn-info btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
            <li><a href="https://plus.google.com/u/0/105183430321926174600" class="btn btn-danger btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
            </li>
            <li><a href="https://play.google.com/store/apps/details?id=com.uminho.uce15.cityroots&hl=pt_PT" class="btn btn-success btn-lg"><%= image_tag "play_logo.png", height: "30px", width: "30px" %> <span class="network-name">Google Play</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">CityRoots <small>Sinta cada lugar...</small></h2>

          <p class="lead">A aplicação CityRoots oferece a todos os turistas que pretendam conhecer Portugal um acesso rápido e fácil às raízes das nossas cidades, com a informação do que melhor e mais característico elas têm para lhes oferecer.
          </p> 
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "city2.jpg",   class: "img-responsive"%>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-b -->

  <div class="content-section-a">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Divulgue o seu negócio e cresça connosco</h2>
          <p class="lead">O CityRoots leva até si aos melhores pontos de interesse da cidade, os eventos que estão a decorrer e os melhores locais para se divertir.
          <%= link_to  web_index_path do %> 
            Mais informações <b class="right-caret"></b>
          <% end %>
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "hotel.jpg",   class: "img-responsive"%>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Um guia turístico nas suas mãos</h2>
          <p class="lead">O seu smartphone ou tablet podem ser o seu melhor guia turístico.Eleve a sua experiência de turismo a um outro nível com a aplicação CityRoots.
          <%= link_to mobile_index_path do %>
             Mais informações <b class="right-caret"></b>
          <% end %>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "mobile.png",   class: "img-responsive"%>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-b -->

  <div class="content-section-a">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Parceiros</h2>
          <p class="lead">Por valorizarmos a qualidade e a credibilidade das fontes de informação, procuramos estabelecer parcerias com câmaras municipais, postos de turismo e outras instituições culturais. Desta forma, disponibilizamos conteúdos confiáveis, completos e atualizados, promovendo e divulgando estas instituições.
          </p>
          <p class="lead">
          Oferecemos uma plataforma valiosa para chegar a todos os que visitam a sua cidade.
          <%= link_to web_index_path do %>
             Mais informações <b class="right-caret"></b>
          <% end %>
          </P> 
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "parceria.png",   class: "img-responsive"%>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
