<h1>Listing itineraries_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @itineraries_types.each do |itineraries_type| %>
      <tr>
        <td><%= itineraries_type.name %></td>
        <td><%= itineraries_type.description %></td>
        <td><%= link_to 'Show', itineraries_type %></td>
        <td><%= link_to 'Edit', edit_itineraries_type_path(itineraries_type) %></td>
        <td><%= link_to 'Destroy', itineraries_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itineraries type', new_itineraries_type_path %>
