<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @itineraries_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @itineraries_type.description %>
</p>

<%= link_to 'Edit', edit_itineraries_type_path(@itineraries_type) %> |
<%= link_to 'Back', itineraries_types_path %>
