<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :coord %><br>
    <%= f.text_field :coord %>
  </div>
  <div class="field">
    <%= f.label :transport %><br>
    <%= f.text_field :transport %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br>
    <%= f.number_field :timestamp %>
  </div>
  <div class="field">
    <%= f.label :stardate %><br>
    <%= f.date_select :stardate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br>
    <%= f.date_select :enddate %>
  </div>
  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :program %><br>
    <%= f.text_field :program %>
  </div>
  <div class="field">
    <%= f.label :event_type_id %><br>
    <%=  f.collection_select(:event_type_id, EventType.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%=  f.collection_select(:city_id, City.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :web_user_id %><br>
    <%= f.number_field :web_user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
