<h1>Lista de Eventos</h1>


<% @events.each do |event| %>
<div class="col-md-12">
  <div class="well well-sm">
    <div class="row">
      <div class="col-xs-3 col-md-3 text-center">
        <%= image_tag "Index/douro.jpg" , :style =>"max-height:180px; max-width:200px" %>
      </div>
      <div class="col-xs-9 col-md-9 section-box">
        <div class="row">
          <div class="col-md-8">
            <h4><strong><%= link_to event.name, event %></strong></h4>
          </div>
          <div  class="col-md-4 text-right" style="min-height:30px">
            <%= link_to edit_event_path(event) do %>
            <span class="glyphicon glyphicon-edit"> </span>Editar
            <% end %>
            <%= link_to event, method: :delete, data: { confirm: 'Are you sure?'}  do %>
            <span class="glyphicon glyphicon-remove"></span>Remover
            <% end %>
          </div>
        </div>
        <div >
          <p>
            <b>Categoria: </b><%= event.event_type_id %><br/>
            <b>Preço:</b><%= event.price %><br/>
            <b>Descrição: </b>
            <%= truncate event.description, length: 300 %>
            <%= link_to 'Ler mais', event %><br/>
          </p>
          <p>
              <b>Horário: </b><%= event.schedule %><br/>
              <b>Data inicio:</b><%= event.startdate %> <br/>
              <b>Data fecho:</b><%= event.enddate %> <br/>
            </p>
          <hr/>
          <div class="row rating-desc">
            <div class="col-md-12">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star-empty"></span>(36)<span class="separator">|</span>
              <span class="glyphicon glyphicon-comment"></span>(<%= event.comment_events.size %> Comments)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<br/>

<%= link_to 'Novo Evento', new_event_path, :class=>"btn btn-primary" %>
