<div class="page-header">
  <h1><%= @event.name %></h1>
</div>
<div class="col-md-12">
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <%
             if @event.address != nil
          %>
          <div class="col-sm-3"> <strong>Morada</strong></div>
          <div class="col-sm-5"><%= @event.address %></div>
          <%
             end
             if @event.schedule != nil
          %>
              <tr>
                <th style="border-top: none;">Horário</th>
                <td style="border-top: none;"><%= @event.schedule %></td>
              </tr>
          <%
             end
             if @event.site != nil
          %>
              <tr>
                <th style="border-top: none;">Site</th>
                <td style="border-top: none;"><%= @event.site %></td>
              </tr>
          <%
             end
             if @event.email != nil
          %>
              <tr>
                <th style="border-top: none;">Email</th>
                <td style="border-top: none;"><%= @event.email %></td>
              </tr>
          <%
             end
             if @event.transport != nil
          %>
              <tr>
                <th style="border-top: none;">Transporte</th>
                <td style="border-top: none;"><%= @event.transport %></td>
              </tr>
          <%
             end
             if @event.startdate != nil
          %>
              <tr>
                <th style="border-top: none;">Data</th>
                <td style="border-top: none;"><%= @event.startdate %> até <%= @event.enddate %></td>
              </tr>
          <%
             end
             if @event.price != nil
          %>
              <tr>
                <th style="border-top: none;">Preço</th>
                <td style="border-top: none;"><%= @event.price %></td>
              </tr>
          <%
             end
             if @event.organization != nil
          %>
              <tr>
                <th style="border-top: none;">Orgização</th>
                <td style="border-top: none;"><%= @event.organization %></td>
              </tr>
          <%
             end
             if @event.event_type_id != nil
               id=@event.event_type_id
               event_tipo=EventType.where(["id = ?", id ]).first
               evento=event_tipo.name;
          %>
              <tr>
                <th style="border-top: none;">Tipo</th>
                <td style="border-top: none;"><%= evento %></td>
              </tr>
          <%
             end
             if @event.program != nil
          %>
              <tr>
                <th style="border-top: none;">Programação</th>
                <td style="border-top: none;text-align:justify;"><%= @event.program %></td>
              </tr>
          <%
             end
             if @event.description != nil
          %>
              <tr>
                <th style="border-top: none;">Descrição</th>
                <td style="border-top: none;text-align:justify;"><%= @event.description %></td>
              </tr>
          <%
             end
          %>
        </table>
      </div>
      <div class="col-md-6">
        <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag "Attractions/Bom_Jesus1.jpg" , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
              <div class="carousel-caption"></div>
            </div>
            <div class="item">
              <%= image_tag "Attractions/Bom_Jesus2.jpg" , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
              <div class="carousel-caption"></div>
            </div>
            <div class="item">
              <%= image_tag "Attractions/Bom_Jesus3.jpg" , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
              <div class="carousel-caption"></div>
            </div>
            <div class="item">
              <%= image_tag "Attractions/Bom_Jesus4.jpg" , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
              <div class="carousel-caption"></div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        <ul class="thumbnails"></ul>
        <%= form_for @photo_event=PhotoEvent.new, :url => photo_events_path, html: { multipart: true } do |f| %>
            <% if @photo_event.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@photo_event.errors.count, "error") %> Prohibited this upload from being saved:</h2>

                  <ul>
                    <% @photo_event.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="actions">
              <%= f.label :photo %>
              <%= f.file_field :photo, multiple: true, name: 'photo_event[photo]' %>
              <%= f.hidden_field :event_id,  :value => @event.id %>
            </div>
        <% end %>

        <% # jquery upload template # %>
        <script id="template-upload" type="text/x-tmpl">
            <div class="upload">
            {%=o.name%}
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%">
                     <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </script>

        <br/>
        <hr/>
        <br/>
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=500x450&sensor=false&zoom=13&markers=#{@event.latitude}%2C#{@event.longitude}" %>
      </div>
    </div>

    <br>
    <table class="table">
      <tr class="col-md-3">
        <td style="border-top: none;"><%= link_to 'Voltar', events_path ,:class => "btn btn-default"%></td>
        <td style="border-top: none;"><%= link_to 'Editar', edit_event_path(@event),:class => "btn btn-primary" %></td>
      </tr>
    </table>
  </div>
</div>
