<%
   trans=EventTranslation.where("event_id=?",@event.id).first

%>
<div class="well well-lg">
  <h1>
    <%= trans.name%>
    <% if @event.accessibility != 0 %>
      <small><i class="fa fa-wheelchair"></i></small>
    <% end %>
  </h1>
  <br/>
  <%= link_to edit_event_path(@event) do
  %><i class="fa fa-edit"></i> Editar<%
   end
%>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <%
           if @event.rating != 0
        %>
            <dt>Classificação</dt>
            <dd>
              val=event.rating
              <%
                 indice=0;
                 while val >0
              %><span class="fa fa-star"></span><%
               val=val-1
               indice=indice+1
               end
               while indice <5
            %><span class="fa fa-star-o"></span><%
               indice=indice+1
               end
            %>
            </dd>
        <%
           end
           if trans.description != nil
        %>
            <dt>Descrição</dt>
            <dd style="text-overflow: ellipsis;width: 150px;"><%= trans.description%></dd>
        <%
           end
           if @event.address != nil
        %>
            <dt>Morada</dt>
            <dd><%= @event.address %></dd>
        <%
           end
           if trans.schedule != nil
        %>
            <dt>Horário</dt>
            <dd><%= trans.schedule %></dd>
        <%
           end
           if @event.site != nil
        %>
            <dt>Site</dt>
            <dd><%= @event.site %></dd>
        <%
           end
           if @event.email != nil
        %>
            <dt>Email</dt>
            <dd><%= @event.email %></dd>
        <%
           end
           if trans.transport != nil
        %>
            <dt>Transporte</dt>
            <dd><%= trans.transport %></dd>
        <%
           end
           if @event.startdate != nil
        %>
            <dt>Data</dt>
            <dd>
              <%= @event.startdate %>
              <%
                 if @event.enddate != nil%>
                  até <%= @event.enddate %>
              <%  end
              %>
            </dd>
        <%
           end
           if @event.price != nil
        %>
            <dt>Preço</dt>
            <dd><%= @event.price %></dd>
        <%
           end
           if @event.organization != nil
        %>
            <dt>Organização</dt>
            <dd><%= @event.organization %></dd>
        <%
           end
           if @event.program != nil
        %>
            <dt>Programação</dt>
            <dd><%= @event.program %></dd>
        <%
           end
        %>
        <ul class="thumbnails"></ul>
        <%= form_for @photo_event=PhotoEvent.new, :url => photo_events_path, html: { multipart: true } do |f| %>
            <% if @photo_event.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@photo_event.errors.count, "error") %> Prohibited this upload from being saved:</h2>

                  <ul>
                    <% @photo_event.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="actions">
              <%= f.label :photo %>
              <%= f.file_field :photo, multiple: true, name: 'photo_event[photo]' %>
              <%= f.hidden_field :event_id,  :value => @event.id %>
            </div>
        <% end %>

      </dl>
      <span style="border-top: none;"><%= link_to 'Voltar', events_path ,:class=>"btn btn-default btn-square"%></span>
    </div>
    <div class="col-sm-6">
      <%
      if @event.photo_events != nil%>

      <%
      end
      %>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=500x450&sensor=false&zoom=13&markers=#{@event.latitude}%2C#{@event.longitude}" %>
    </div>
  </div>
  <hr>
  <%
  @coments=CommentEvent.where("event_id=?",@event.id).all
  if @coments != nil
  %>
  <div class="row">
    <h3>Comentários</h3>
    <%
    @coments.each do |co|%>
        <div class="media-body bubble-body bubble-arrow-left">
          <div class="bubble-inner">
            <%
            if co.mobile_user_id != nil
                usermovel=User.where("id=?",co.mobile_user_id).first
                nome=usermovel.username
            else
                nome="Anonimo"
            end
            %>
            <h4 class="media-heading bubble-heading"><%= nome %></h4>
            <div class="bubble-content">
              <p><%= co.comment %></p><p>
            </p></div>
          </div>
        </div>
    <%
    end
    %>
  </div>
  <%
  end
  %>
</div>