<%= form_for(@event_translation) do |f| %>
  <% if @event_translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_translation.errors.count, "error") %> prohibited this event_translation from being saved:</h2>

      <ul>
      <% @event_translation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :transport %><br>
    <%= f.text_field :transport %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
