<%= form_for(@mobile_user) do |f| %>
  <% if @mobile_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobile_user.errors.count, "error") %> prohibited this mobile_user from being saved:</h2>

      <ul>
      <% @mobile_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.number_field :country_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
