<h1>Listing mobile_users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Active</th>
      <th>Country</th>
      <th>Email</th>
      <th>Pass</th>
      <th>Dateofbirth</th>
      <th>Firstname</th>
      <th>Surname</th>
      <th>Gender</th>
      <th>Language</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mobile_users.each do |mobile_user| %>
      <tr>
        <td><%= mobile_user.username %></td>
        <td><%= mobile_user.active %></td>
        <td><%= mobile_user.country_id %></td>
        <td><%= mobile_user.email %></td>
        <td><%= mobile_user.pass %></td>
        <td><%= mobile_user.dateofbirth %></td>
        <td><%= mobile_user.firstname %></td>
        <td><%= mobile_user.surname %></td>
        <td><%= mobile_user.gender %></td>
        <td><%= mobile_user.language_id %></td>
        <td><%= mobile_user.country_id %></td>
        <td><%= link_to 'Show', mobile_user %></td>
        <td><%= link_to 'Edit', edit_mobile_user_path(mobile_user) %></td>
        <td><%= link_to 'Destroy', mobile_user, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobile user', new_mobile_user_path %>
