<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @web_user_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @web_user_type.description %>
</p>

<%= link_to 'Edit', edit_web_user_web_user_type_path(@web_user_type) %> |
<%= link_to 'Back', web_user_types_path %>
