<%= stylesheet_link_tag "welcome2" %>

  <div class="row" style="">
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" style="margin-bottom:10px; ">
  	  <div class="carousel-inner">
        <div class="item active">
            <img alt="Aplicação Mobile" src="http://www.appdevelopersuk.com/wp-content/uploads/2013/01/header07.jpg" style="text-align:center; vertical-align:middle; margin:auto">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img alt="Aplicação Mobile" src="http://appdevsa.tmti.net/wp-content/uploads/2013/01/header11.jpg" style="text-align:center; vertical-align:middle; margin:auto">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img alt="Aplicação Mobile" src="http://appdevsa.tmti.net/wp-content/uploads/2013/01/header08.jpg" style="text-align:center; vertical-align:middle; margin:auto;">
            <div class="carousel-caption"></div>
        </div>

      </div>
        <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
      	<span class="fa fa-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
        <span class="fa fa-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.container -->

  <div class="content-section-a">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">CityRoots <small>um guia turístico nas suas mãos</small></h2>

          <p class="lead">
          	O Turismo está a mudar.</br>
			O seu smartphone ou tablet pode ser o seu melhor guia turístico.</br>
			Sinta cada lugar na palma da sua mão.
          </p> 
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "mobile.png",   class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Uma experiência de turismo única, em múltiplas línguas</h2>
          <p class="lead"> Explore rotas.</br>
			Conheça os locais de interesse.</br>
			Adquira os produtos tradicionais.</br>
			Saboreie a gastronomia típica.</br>
			Relaxe nos nossos hóteis.</br>
			Desfrute das atividades, da natureza e da vida noturna.</br>
			Não falte aos melhores eventos.</br>
			Consulte contactos úteis.</br>
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "temas.png",   class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-b -->

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Mapas e geolocalização. Conteúdos disponíveis <u>offline</u></h2>
          <p class="lead">
          	Obtenha as direções para os locais que quer visitar.</br>
			Encontre locais à sua volta com recurso ao GPS.</br>
			Conteúdos sempre disponiveis mesmo sem ligação à Internet.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "config.png",   class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Ofertas, classificações e comentários</h2>
          <p class="lead">
          	Obtenha ofertas em restaurantes, hotéis e outros.
			Classifique e comente todos os lugares que visitar.
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "offer.jpg",   class: "img-responsive"%>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-section-b -->
