<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comments_service.comment %>
</p>

<p>
  <strong>Evalutiondate:</strong>
  <%= @comments_service.evalutiondate %>
</p>

<p>
  <strong>Mobile user:</strong>
  <%= @comments_service.mobile_user_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @comments_service.service_id %>
</p>

<%= link_to 'Edit', edit_comments_service_path(@comments_service) %> |
<%= link_to 'Back', comments_services_path %>
