<h1>Listing web_user_packs</h1>

<table>
  <thead>
    <tr>
      <th>Subscriptiondate</th>
      <th>Validity</th>
      <th>Obs</th>
      <th>Active</th>
      <th>Pack type</th>
      <th>Web user</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @web_user_packs.each do |web_user_pack| %>
      <tr>
        <td><%= web_user_pack.subscriptiondate %></td>
        <td><%= web_user_pack.validity %></td>
        <td><%= web_user_pack.obs %></td>
        <td><%= web_user_pack.active %></td>
        <td><%= web_user_pack.pack_type_id %></td>
        <td><%= web_user_pack.web_user_id %></td>
        <td><%= link_to 'Show', web_user_pack %></td>
        <td><%= link_to 'Edit', edit_web_user_web_user_pack_path(web_user_pack) %></td>
        <td><%= link_to 'Destroy', web_user_pack, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web user pack', new_web_user_web_user_pack_path %>
