<h1>Listing pack_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pack_types.each do |pack_type| %>
      <tr>
        <td><%= pack_type.name %></td>
        <td><%= pack_type.description %></td>
        <td><%= pack_type.duration %></td>
        <td><%= pack_type.price %></td>
        <td><%= link_to 'Show', pack_type %></td>
        <td><%= link_to 'Edit', edit_pack_type_path(pack_type) %></td>
        <td><%= link_to 'Destroy', pack_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pack type', new_pack_type_path %>
