<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pack_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pack_type.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @pack_type.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pack_type.price %>
</p>

<%= link_to 'Edit', edit_pack_type_path(@pack_type) %> |
<%= link_to 'Back', pack_types_path %>
