<h1>Listing itinerary_attractions</h1>

<table>
  <thead>
    <tr>
      <th>Itinerary</th>
      <th>Attraction</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @itinerary_attractions.each do |itinerary_attraction| %>
      <tr>
        <td><%= itinerary_attraction.itinerary_id %></td>
        <td><%= itinerary_attraction.attraction_id %></td>
        <td><%= link_to 'Show', itinerary_attraction %></td>
        <td><%= link_to 'Edit', edit_itinerary_itinerary_attraction_path(itinerary_attraction) %></td>
        <td><%= link_to 'Destroy', itinerary_attraction, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itinerary attraction', new_itinerary_itinerary_attraction_path %>
