<p id="notice"><%= notice %></p>

<p>
  <strong>Itinerary:</strong>
  <%= @itinerary_attraction.itinerary_id %>
</p>

<p>
  <strong>Attraction:</strong>
  <%= @itinerary_attraction.attraction_id %>
</p>

<%= link_to 'Edit', edit_itinerary_itinerary_attraction_path(@itinerary_attraction) %> |
<%= link_to 'Back', itinerary_itinerary_attractions_path %>
