<%= form_for(@comment_attraction) do |f| %>
  <% if @comment_attraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment_attraction.errors.count, "error") %> prohibited this comment_attraction from being saved:</h2>

      <ul>
      <% @comment_attraction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :evalutiondate %><br>
    <%= f.date_select :evalutiondate %>
  </div>
  <div class="field">
    <%= f.label :mobile_user_id %><br>
    <%= f.number_field :mobile_user_id %>
  </div>
  <div class="field">
    <%= f.label :attraction_id %><br>
    <%= f.number_field :attraction_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
