<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction_type.description %>
</p>

<p>
  <strong>Attraction big types:</strong>
  <%= @attraction_type.attraction_big_types_id %>
</p>

<%= link_to 'Edit', edit_attraction_type_path(@attraction_type) %> |
<%= link_to 'Back', attraction_types_path %>
