<%= form_for(@web_users_pack) do |f| %>
  <% if @web_users_pack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@web_users_pack.errors.count, "error") %> prohibited this web_users_pack from being saved:</h2>

      <ul>
      <% @web_users_pack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subscriptiondate %><br>
    <%= f.date_select :subscriptiondate %>
  </div>
  <div class="field">
    <%= f.label :validity %><br>
    <%= f.date_select :validity %>
  </div>
  <div class="field">
    <%= f.label :obs %><br>
    <%= f.text_field :obs %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :pack_type_id %><br>
    <%= f.number_field :pack_type_id %>
  </div>
  <div class="field">
    <%= f.label :web_user_id %><br>
    <%= f.number_field :web_user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
