<h1>Listing web_users_packs</h1>

<table>
  <thead>
    <tr>
      <th>Subscriptiondate</th>
      <th>Validity</th>
      <th>Obs</th>
      <th>Active</th>
      <th>Pack type</th>
      <th>User web</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @web_users_packs.each do |web_users_pack| %>
      <tr>
        <td><%= web_users_pack.subscriptiondate %></td>
        <td><%= web_users_pack.validity %></td>
        <td><%= web_users_pack.obs %></td>
        <td><%= web_users_pack.active %></td>
        <td><%= web_users_pack.pack_type_id %></td>
        <td><%= web_users_pack.user_web_id %></td>
        <td><%= link_to 'Show', web_users_pack %></td>
        <td><%= link_to 'Edit', edit_web_users_pack_path(web_users_pack) %></td>
        <td><%= link_to 'Destroy', web_users_pack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web users pack', new_web_users_pack_path %>
