<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Abv:</strong>
  <%= @city.abv %>
</p>

<p>
  <strong>Country:</strong>
  <%= @city.country_id %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
