<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment_itinerary.comment %>
</p>

<p>
  <strong>Evalutiondate:</strong>
  <%= @comment_itinerary.evaluationdate %>
</p>

<p>
  <strong>Mobile user:</strong>
  <%= @comment_itinerary.mobile_user_id %>
</p>

<p>
  <strong>Itinerary:</strong>
  <%= @comment_itinerary.itinerary_id %>
</p>

<%= link_to 'Edit', edit_comment_itinerary_path(@comment_itinerary) %> |
<%= link_to 'Back', comment_itineraries_path %>
