<p id="notice"><%= notice %></p>

<p>
  <strong>Itinerary:</strong>
  <%= @itinerary_service.itinerary_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @itinerary_service.service_id %>
</p>

<%= link_to 'Edit', edit_itinerary_itinerary_service_path(@itinerary_service) %> |
<%= link_to 'Back', itinerary_services_path %>
