<%= stylesheet_link_tag "welcome2" %>
<%= stylesheet_link_tag "pricing_table" %>

<div class="well well-large clearfix" style="margin:0; padding:0; padding-bottom:20px">
<div class="container" >
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header">
      <h1>Planos <small>Selecione o plano perfeito para o seu negócio</small></h1>
    </div>
  </div>
</div>

<div class="container">


  <%= render 'pacotesBox' %>
</div>
</div>
<div class="row">
  <div class="content-section-b" id="premium" >
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-8">
            <hr class="section-heading-spacer"/>
            <div class="clearfix"></div>
            <h2 class="section-heading">Premium!</h2>
            <p class="lead">Obtenha uma maior especificação de informação e descreva o seu estabelecimento, os seus serviços e/ou os seus produtos. Como uma imagem vale mais do que mil palavras, coloque conteúdos fotográficos na sua página de perfil de forma a atingir uma maior notoriedade. Não fique só pelo nome, crie uma página para cada um dos seus estabelecimentos. Supere os seus concorrentes e obtenha maior destaque e visibilidade na aplicação e nas pesquisas dos seus utilizadores. Divulgue os seus eventos e promoções na aplicação para chegar a um maior número de interessados.
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <div class="col-xs-8 col-md-8">
            <div class="panel panel-profissional">
              <div class="cnrflash">
                <div class="cnrflash-inner">
                  <span class="cnrflash-label">Mais <br> Popular</span>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title-profissional" >
                  Premium</h3>
              </div>
              <div class="panel-body">
                <div class="the-price" style="height:76px;">
                  <h1>€29,99<small>/ano</small></h1>
                </div>
                <table class="table">
                  <tr>
                    <td>
                      Publicidade de Eventos
                    </td>
                  </tr>
                  <tr class="active">
                    <td>
                      Destaque na aplicação Mobile
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Registo de vários estabelecimentos
                    </td>
                  </tr>
                </table>
              </div>
              <div class="panel-footer">
                <a href="#premium" class="btn btn-primary" role="button">Ver mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-section-b -->

   <div class="content-section-a" id="free">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Básico</h2>
          <p class="lead">Aumente a sua notoriedade e a visibilidade dos seus produtos e serviços para todo o mundo através do CityRoots. Crie e faça a gestão da sua página de perfil com a informação básica relativa ao seu estabelecimento.
          <p/><%= link_to "Subscrever" , new_payment_path, class: "btn btn-warning", style: "background:#B68C34"  %>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <div class="row">
            <div class="col-xs-8 col-md-8">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Básico</h3>
              </div>
              <div class="panel-body">
                <div class="the-price" style="height:76px;">
                  <h1>Grátis</h1>
                </div>
                 <table class="table">
                  <tr>
                    <td>
                      Criação do seu perfil
                    </td>
                  </tr>
                  <tr class="active">
                    <td>
                      Georeferênciação do estabelecimento
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Publicação de Fotos do estabelecimento
                    </td>
                  </tr>
                </table>
              </div>
              <div class="panel-footer">
                <%= link_to "Subscrever" , new_payment_path, class: "btn btn-warning", style: "background:#B68C34"  %>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-a -->

</div>

