<%= stylesheet_link_tag "welcome2" %>

  <div class="row" style="">
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
            <img alt="Aplicação Mobile" src="http://lcdstudios.net/wp-content/uploads/2012/07/bg_01.jpg" style="text-align:center; vertical-align:middle; height:350px; margin:auto">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img alt="Aplicação Mobile" src="http://www.stevesims.com/style/images/art/slider-bg5.jpg" style="text-align:center; vertical-align:middle; height:350px; margin:auto">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img alt="Aplicação Mobile" src="http://www.elmasgrafik.com/yuklenen_slider_resimler/slider-resim-599a82e359a75de8ceba-buyuk.jpg" style="text-align:center; vertical-align:middle; height:350px; margin:auto;">
            <div class="carousel-caption"></div>
        </div>

      </div>
        <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
        <span class="fa fa-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.container -->

  <div class="content-section-a">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Divulgue o seu negócio, cresça connosco</h2>

          <p class="lead">
          Ganhe visibilidade, coloque-se no mapa. </br>
          O CityRoots é um excelente meio para divulgar a sua empresa a quem pretenda visitar a sua cidade.
          </p> 
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "ipad.png",   class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Levamos os turistas até si</h2>
          <p class="lead"> "
          O CityRoots leva os turistas aos melhores pontos de interesse das cidades. </br>
          Podemos levá-los até si através de uma poderosa ferramenta de orientação e sugestão de itinerários.
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "doge.png",   class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-b -->

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Promova os seus produtos e serviços</h2>
          <p class="lead">
            Crie e faça a gestão da sua própria página de perfil. </br>
             Na nossa aplicação é possível você promover os seus serviços e produtos.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "phones.png",   class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Ofertas, classificações e comentários</h2>
          <p class="lead">
            Obtenha ofertas em restaurantes, hotéis e outros.
      Classifique e comente todos os lugares que visitar.
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "doge.png",   class: "img-responsive"%>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-section-b -->
