<%= stylesheet_link_tag "welcome2" %>

  <div class="row" style="">
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
             <%= image_tag "web1.jpg",   class: "img-responsive"%>
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
             <%= image_tag "web2.jpg",   class: "img-responsive"%>
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
             <%= image_tag "web3.jpg",   class: "img-responsive"%>
            <div class="carousel-caption"></div>
        </div>

      </div>
        <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
        <span class="fa fa-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.container -->

  <div class="content-section-a">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Divulgue o seu negócio, cresça connosco</h2>

          <p class="lead">
          Ganhe visibilidade, coloque-se no mapa. </br>
          O CityRoots é um excelente meio para divulgar a sua empresa a quem pretenda visitar a sua cidade.
          </p> 
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "hotel.jpg",   class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Levamos os turistas até si</h2>
          <p class="lead"> "
          O CityRoots leva os turistas aos melhores pontos de interesse das cidades. </br>
          Podemos levá-los até si através de uma poderosa ferramenta de orientação e sugestão de itinerários.
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "clienttoyou.jpg",   class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-b -->

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Promova os seus produtos e serviços</h2>
          <p class="lead">
            Crie e faça a gestão da sua própria página de perfil. </br>
             Na nossa aplicação é possível você promover os seus serviços e produtos.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "rest.jpeg",   class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Supere a concorrência</h2>
          <p class="lead">
            Supere os seus concorrentes, torne-se uma empresa premium e ganhe destaque nas pesquisas dos utilizadores e publique anúncios.
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "conc2.png",   class: "img-responsive"%>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-section-b -->
