<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <%= link_to "Home" , welcome_index_path  %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <%= link_to "Planos" , pacotes_path %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <%= link_to "Web" , web_index_path %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <%= link_to "Mobile", mobile_index_path  %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
              <%= link_to "Galeria", galeria_path  %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <%= link_to "Contactos", contact_path %>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; CityRoots 2014. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>