      <html lang="en"><head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="description" content="">
          <meta name="author" content="">
          <title>CityRoots</title>
          <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
          <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

          <!-- Bootstrap core CSS -->
          <%= stylesheet_link_tag "bootstrap", "layout" %>
          <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!--[if lt IE 9]>
            <%= javascript_include_tag "html5shiv", "respond.min" %>
          <![endif]-->
        </head>

        <body>

          <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="">
              <div class="navbar-header col-sm-2">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class=" glyphicon glyphicon-globe"></i> CityRoots</a>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><%= link_to "Home", welcome_index_path %></li>
                  <li><%= link_to "Pacotes", pacotes_path %></li>
                  <li><a href="#about">Parceiros</a></li>
                  <li><%= link_to "Galeria", galeria_path %></li>
                  <li><%= link_to "Contactos", contact_path %></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  <% if user_signed_in? %>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <%= current_user.name %>  <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                       
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i> Perfil</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Preferências</a></li>
                        <li class="divider"></li>
                        <%= link_to destroy_user_session_path do%>
                          <i class=" glyphicon glyphicon-off"></i> Logout
                        <% end %>
                      </ul>
                    </li>
                  <% else %>
                    <li><%= link_to "Login", user_session_path, :class=>"first"  %></li>
                    <li><%= link_to "Registo", new_user_registration_path %></li>
                  <% end %>
                </ul>
              </div>
            </div><!-- /.container -->
          </div><!-- /.navbar -->

          
      </div>

      <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-12" style="height:100%">
              <div class="col-xs-6 col-sm-1 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="list-group sidebar">
                  <%= link_to attractions_path, :class=>"list-group-item" do%>
                    <i class=" glyphicon glyphicon-tower"></i> Pontos
                  <% end %>
                  <%= link_to itineraries_path, :class=>"list-group-item" do%>
                      <i class=" glyphicon glyphicon-globe"></i> Rotas
                  <% end %>
                  <%= link_to events_path, :class=>"list-group-item" do%>
                      <i class=" glyphicon glyphicon-music"></i>Eventos
                  <% end %>
                  <%= link_to services_path, :class=>"list-group-item" do%>
                    <i class=" glyphicon glyphicon-home"></i>Serviços
                  <%end%>
                  <%= link_to services_path, :class=>"list-group-item" do%>
                    <i class=" glyphicon glyphicon-signal"></i>Estatistica
                  <%end%>
                </div>
              </div><!--/span-->
              <div class="col-xs-12 col-sm-11" id="body-page">
                <div class="row">
                <div class="center_body">                
                  <%= yield %>
                </div>
                </div> 
              </div><!--/span-->


            </div><!--/row-->

          </div><!--/.container-->
          <hr/>
<!--          
      <footer>
        <div class="container" >    
          <div class="row">
          <div class="col-lg-12">
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>GitHub<li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact & support</a></li>
                <li><a href="#">Enterprise</a></li>
                <li><a href="#">Site status</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>Applications<li>
                <li><a href="#">Product for Mac</a></li>
                <li><a href="#">Product for Windows</a></li>
                <li><a href="#">Product mobile apps</a></li>              
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>Services<li>
                <li><a href="#">Web analytics</a></li>
                <li><a href="#">Presentations</a></li>
                <li><a href="#">Code snippets</a></li>
                <li><a href="#">Job board</a></li>              
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>Documentation<li>
                <li><a href="#">Product Help</a></li>
                <li><a href="#">Developer API</a></li>
                <li><a href="#">Product Markdown</a></li>
                <li><a href="#">Product Pages</a></li>              
              </ul>
            </div>  
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <div class="col-md-8">
              <a href="#">Terms of Service</a>    
              <a href="#">Privacy</a>    
              <a href="#">Security</a>
            </div>
            <div class="col-md-4">
              <p class="muted pull-right">© 2013 Company Name. All rights reserved</p>
            </div>
          </div>
        </div>
        </footer> -->
          <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
              <%= javascript_include_tag "application" %>

          <%= javascript_include_tag "jquery", "bootstrap", "offcanvas" %>
      	</body>

      </html>