<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CityRoots</title>
  <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag "bootstrap", "flatty", "screen" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application" , "bootstrap-filestyle.min", "nested_form" %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5shiv", "respond.min" %>
  <![endif]-->
</head>

<body>
<!-- NAV Bar-->
<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bf-navbar-collapse">
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        <%= image_tag "Index/logo_CR.png", :style=>"width: 18px;height: 18px;" %>
        <%= link_to "CityRoots" , welcome_index_path , :style => "color:inherit;text-decoration:none;cursor:pointer;" %>
      </span>
    </div>
    <nav class="collapse navbar-collapse bf-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">

        <%
           if user_signed_in?
        %>
        <%
                if current_user.role? (:entidade)
        %>
              <li class="<%= is_active?(attractions_path) %>"> 
                <%= link_to "Pontos de interesse" , attractions_path  %>
              </li>
              <li class="<%= is_active?(itineraries_path) %>"> 
                <%= link_to "Rotas" , itineraries_path  %>
              </li>
              <li class="<%= is_active?(events_path) %>"> 
                <%= link_to "Eventos" , events_path  %>
              </li>
        <%
                end
                if current_user.role? (:restauracao)
        %>
              <li class="<%= is_active?(services_path) %>">                 
                <%= link_to "Serviços" , services_path  %>
              </li>
        <%
                end
            else
        %>
            <li class="<%= is_active?(welcome_index_path) %>"> 
              <%= link_to "Home" , welcome_index_path  %>
            </li>
            <li class="<%= is_active?(web_index_path) %>"> 

              <%= link_to "Web" , web_index_path %>
            </li>
            <li class="<%= is_active?(mobile_index_path) %>"> 

              <%= link_to "Mobile", mobile_index_path  %>
            </li>
            <li class="<%= is_active?(galeria_path) %>"> 
              <%= link_to "Galeria", galeria_path  %>
            </li>
            <%
           end
        %>
        <li class="<%= is_active?(contact_path) %>"> 
          <%= link_to "Contactos", contact_path %>
        </li>
      </ul>
      <%
         if user_signed_in?
      %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <%
                 if current_user.username != nil
              %><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.username %>  <b class="caret"></b></a><%
               else
            %><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.email %>  <b class="caret"></b></a><%
               end%>
              <!-- background-color: #AFAFAF;border: 1px solid rgba(0, 0, 0, 0.58);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.63); -->
              <ul class="dropdown-menu dropdown-menu-square">
                <li>
                  <%= link_to profiles_index_path do
                  %>
                    <i class="fa fa-cogs"></i> Perfil
                  <%
                  end%>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_install_session_path(:authenticity_token => form_authenticity_token()) , :method => :delete do%>
                      <i class="fa fa-times-circle" style="margin-left: 8px;"></i> Logout
                  <%end%>
                </li>
              </ul>
            </li>
          </ul>
      <%
         else
      %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
              <!-- background-color: #AFAFAF;border: 1px solid rgba(0, 0, 0, 0.58);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.63); -->
              <ul class="dropdown-menu dropdown-menu-square" style="width:300px;">
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                    <li><%= f.email_field :email, :autofocus => true, :style=>"margin-left: 25px;margin-bottom:10px;width: 250px;", :class=>"form-control form-control-square", :placeholder=>"Email" %></li>
                    <li><%= f.password_field :password , :style=>"margin-left: 25px;margin-bottom:10px;width: 250px;", :class=>"form-control form-control-square", :placeholder=>"Password" %></li>
                    <% if devise_mapping.rememberable? -%>
                        <li><%= f.check_box :remember_me , :style=>"margin-left: 25px;" %> <%= f.label :remember_me %></li>
                    <% end -%>
                    <li><%= f.submit "Login" , :style=>"margin-left: 25px;margin-right: 25px;width: 250px;", :class=>"btn btn-s btn-info btn-square" %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to new_user_registration_path do %><i class="fa fa-pencil-square-o" style="margin-left: 8px;"></i> Registar <%end%></li>
                <li><a href="#" style="color: #3b5998;"><i class="fa fa-facebook-square fa-fw" style="margin-left: 5px;"></i> Login by Facebook</a></li>
                <li><a href="#" style="color: #d34836;"><i class="fa fa-google-plus-square fa-fw" style="margin-left: 5px;"></i> Login by Google +</a></li>

              </ul>
            </li>
          </ul>
      <%
         end
      %>
    </nav>
  </div>
</header>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10" id="body-page">
    <div class="center_body">
      <%= yield %>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div><!--/row-->
<hr/>
<!--
      <footer>
        <div class="container" >
          <div class="row">
          <div class="col-lg-12">
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>GitHub<li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact & support</a></li>
                <li><a href="#">Enterprise</a></li>
                <li><a href="#">Site status</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>Applications<li>
                <li><a href="#">Product for Mac</a></li>
                <li><a href="#">Product for Windows</a></li>
                <li><a href="#">Product mobile apps</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>Services<li>
                <li><a href="#">Web analytics</a></li>
                <li><a href="#">Presentations</a></li>
                <li><a href="#">Code snippets</a></li>
                <li><a href="#">Job board</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>Documentation<li>
                <li><a href="#">Product Help</a></li>
                <li><a href="#">Developer API</a></li>
                <li><a href="#">Product Markdown</a></li>
                <li><a href="#">Product Pages</a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <div class="col-md-8">
              <a href="#">Terms of Service</a>
              <a href="#">Privacy</a>
              <a href="#">Security</a>
            </div>
            <div class="col-md-4">
              <p class="muted pull-right">© 2013 Company Name. All rights reserved</p>
            </div>
          </div>
        </div>
        </footer> -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
    window.twttr = (function (d,s,id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
        js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
    }(document, "script", "twitter-wjs"));
</script>
<script>
    $(function() {
        $( "#accordion" ).accordion();
    });
</script>
<script>
    var _gauges = _gauges || [];
    (function() {
        var t   = document.createElement('script');
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>

<%= javascript_include_tag "bootstrap.min"%>
</body>

</html>