<h1>Listing attractions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Schedule</th>
      <th>Site</th>
      <th>Email</th>
      <th>Address</th>
      <th>Coord</th>
      <th>Transport</th>
      <th>Reference point</th>
      <th>Active</th>
      <th>Timestamp</th>
      <th>Details</th>
      <th>Price</th>
      <th>Attraction type</th>
      <th>City</th>
      <th>Web user</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.name %></td>
        <td><%= attraction.description %></td>
        <td><%= attraction.schedule %></td>
        <td><%= attraction.site %></td>
        <td><%= attraction.email %></td>
        <td><%= attraction.address %></td>
        <td><%= attraction.coord %></td>
        <td><%= attraction.transport %></td>
        <td><%= attraction.reference_point %></td>
        <td><%= attraction.active %></td>
        <td><%= attraction.timestamp %></td>
        <td><%= attraction.details %></td>
        <td><%= attraction.price %></td>
        <td><%= attraction.attraction_type_id %></td>
        <td><%= attraction.city_id %></td>
        <td><%= attraction.web_user_id %></td>
        <td><%= link_to 'Show', attraction %></td>
        <td><%= link_to 'Edit', edit_attraction_path(attraction) %></td>
        <td><%= link_to 'Destroy', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attraction', new_attraction_path %>
