<div class="page-header">
    <h1><%= @attraction.name %></h1>
</div>
<div class="col-md-12">
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
        <%
           if @attraction.address != nil
        %>
            <tr>
              <th style="border-top: none;">Morada</th>
              <td style="border-top: none;"><%= @attraction.address %></td>
            </tr>
        <%
           end
           if @attraction.schedule != nil
        %>
              <tr>
                <th style="border-top: none;">Horário</th>
                <td style="border-top: none;"><%= @attraction.schedule %></td>
              </tr>
        <%
           end
           if @attraction.site != nil
        %>
              <tr>
                <th style="border-top: none;">Site</th>
                <td style="border-top: none;"><%= @attraction.site %></td>
              </tr>
        <%
           end
           if @attraction.email != nil
        %>
              <tr>
                <th style="border-top: none;">Email</th>
                <td style="border-top: none;"><%= @attraction.email %></td>
              </tr>
        <%
           end
           if @attraction.transport != nil
        %>
              <tr>
                <th style="border-top: none;">Transporte</th>
                <td style="border-top: none;"><%= @attraction.transport %></td>
              </tr>
        <%
           end
           if @attraction.price != nil
        %>
              <tr>
                <th style="border-top: none;">Preço</th>
                <td style="border-top: none;"><%= @attraction.price %></td>
              </tr>
        <%
           end
           if @attraction.reference_point != nil
             if @attraction.reference_point == true
            %>
                  <tr>
                    <th style="border-top: none;">Ponto Interesse</th>
                    <td style="border-top: none;">Sim</td>
                  </tr>
              <%
             else
              %>
                  <tr>
                    <th style="border-top: none;">Ponto de interesse</th>
                    <td style="border-top: none;">Não</td>
                  </tr>
              <%
             end
           end
           if @attraction.attraction_type_id != nil
             id=@attraction.attraction_type_id
             tipopoint=AttractionType.where(["id = ?", id ]).first
             tipo=tipopoint.name;
        %>
              <tr>
                <th style="border-top: none;">Tipo</th>
                <td style="border-top: none;"><%= tipo %></td>
              </tr>
        <%
           end
           if @attraction.description != nil
        %>
              <tr>
                <th style="border-top: none;">Descrição</th>
                <td style="border-top: none;text-align:justify;"><%= @attraction.description %></td>
              </tr>
          <%
             end
        %>
        </table>
      </div>
      <div class="col-md-6">
        <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag "Attractions/Bom_Jesus1.jpg" , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
              <div class="carousel-caption"></div>
            </div>
            <div class="item">
              <%= image_tag "Attractions/Bom_Jesus2.jpg" , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
              <div class="carousel-caption"></div>
            </div>
            <div class="item">
              <%= image_tag "Attractions/Bom_Jesus3.jpg" , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
              <div class="carousel-caption"></div>
            </div>
            <div class="item">
              <%= image_tag "Attractions/Bom_Jesus4.jpg" , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
              <div class="carousel-caption"></div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        <br/>
        <hr/>
        <br/>
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=13&markers=#{@attraction.latitude}%2C#{@attraction.longitude}" %>
      </div>
    </div>
    <br>
    <table class="table">
      <tr class="col-md-3">
        <td style="border-top: none;"><%= link_to 'Voltar', attractions_path ,:class => "btn btn-default"%></td>
        <td style="border-top: none;"><%= link_to 'Editar', edit_attraction_path(@attraction),:class => "btn btn-primary" %></td>
      </tr>
    </table>
  </div>
</div>