<%= javascript_include_tag "photo_attraction" %>
<%= stylesheet_link_tag "welcome2" %>
<%
  trans=@attraction.attraction_translations.first
  
  %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_WbKcg0_KTnKKamashIIIG5xz46DY2N4&sensor=false"></script>
<script type="text/javascript">
  function mapinit(){
      var stockholm = new google.maps.LatLng(<%= @attraction.latitude %>, <%= @attraction.longitude %>);
      var parliament = new google.maps.LatLng(<%= @attraction.latitude %>, <%= @attraction.longitude %>);
      var marker;
      var map;
  
      function initialize() {
          // Create an array of styles.
          var styles = [{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]},{"featureType":"landscape","stylers":[{"color":"#f2e5d4"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"road"},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{},{"featureType":"road","stylers":[{"lightness":20}]}];
  
          // Create a new StyledMapType object, passing it the array of styles,
          // as well as the name to be displayed on the map type control.
          var styledMap = new google.maps.StyledMapType(styles,
                  {name: "Styled Map"});
  
          var mapOptions = {
              zoom: 11,
              center: stockholm
          };
  
          map = new google.maps.Map(document.getElementById('map-canvas'),
                  mapOptions);
  
          var image="<%= image_url "maker.png"%>";
  
          marker = new google.maps.Marker({
              map:map,
              animation: google.maps.Animation.DROP,
              position: parliament,
              icon: image
          });
          google.maps.event.addListener(marker, 'click', toggleBounce);
          //Associate the styled map with the MapTypeId and set it to display.
          map.mapTypes.set('map_style', styledMap);
          map.setMapTypeId('map_style');
      }
  
      function toggleBounce() {
  
          if (marker.getAnimation() != null) {
              marker.setAnimation(null);
          } else {
              marker.setAnimation(google.maps.Animation.BOUNCE);
          }
      }
  
      google.maps.event.addDomListener(window, 'load', initialize);
  }
</script>
<style>
  #map-canvas { height: 100% }
    dt{
    padding-bottom: 5px;
  }
  dd{
    padding-bottom: 15px;
  }
</style>








<div class="container" >
  <% if !@attraction.photo_attractions.blank? %>
  <div class="row" style="margin-top:15px">

    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" style="margin-bottom:10px; ">
      <div style="position: absolute;z-index: 1000;margin-top: 75px;font-size: 50px;width: 80%;text-align: center;margin-left:10%">
        <h1 style="font-weight: 700; color:#fff;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);font-size: 1.3em;">
          <%= trans.name%>
        </h1>
      </div>
      <div class="carousel-inner">
        <% @attraction.photo_attractions.each_with_index do |p,i| %>
        <% if i==0 %>
        <div class="item active">
          <% else %>
          <div class="item">
            <% end %>
            <%= image_tag p.photo.url(:medium,false) , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
            <div class="carousel-caption"></div>
          </div>
          <% end %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
        <span class="fa fa-chevron-right"></span>
        </a>
      </div>
    
     
    </div>
    <% else %>
      <div class="page-header">
        <h1><%= trans.name%></h1>
      </div>
    <% end %>

</div>

<div class="container" >
<div class="row" style="margin-top: 15px; margin-bottom:20px">
      <div class="col-md-6" style="margin-top: 15px;  ">
          <h3 style="margin-top:0; padding-top:0;border-bottom: 1px solid #ecf0f1;margin-bottom: 25px;">Informações</h3>
          <dl >
            <%
              if @attraction.rating != 0
              %>
            <dt>Classificação</dt>
            <dd>
              <%
                val=@attraction.rating
                indice=0;
                while val >0
                %><span class="fa fa-star"></span><%
                val=val-1
                indice=indice+1
                end
                while indice <5
                %><span class="fa fa-star-o"></span><%
                indice=indice+1
                end
                %>
            </dd>
            <%
              end
              @tipos=@attraction.attraction_types.all
              if @tipos.length!=0
              %>
            <dt>Tipo</dt>
            <dd>
              <%
                @tipos.each do |tipo|
                %>
              <%= tipo.type.name %><br/>
              <%
                end
                %>
            </dd>
            <%
              end
              if trans.description != nil
               if  trans.description.empty?
              %>
            <dt>Descrição</dt>
            <dd style="text-overflow: ellipsis; text-align: justify"><%= trans.description%></dd>
            <%
               end
              end
              if @attraction.address != nil
               if @attraction.address.empty?
              %>
            <dt>Morada</dt>
            <dd><%= @attraction.address %></dd>
            <%
                end
              end
              if trans.schedule != nil
               if trans.schedule.empty?
              %>
            <dt>Horário</dt>
            <dd><%= trans.schedule %></dd>
            <%
               end
              end
              if @attraction.site != nil
               if  @attraction.site.empty?
              %>
            <dt>Site</dt>
            <dd><%= @attraction.site %></dd>
            <%
               end
              end
              if @attraction.email != nil
               if  @attraction.email.empty?
              %>
            <dt>Email</dt>
            <dd><%= @attraction.email %></dd>
            <%
               end
              end
              if @attraction.phone != nil
               if @attraction.phone.empty?
              %>
            <dt>Telefone</dt>
            <dd><%= @attraction.phone %></dd>
            <%
               end
              end
              if trans.transport != nil
               if trans.transport.empty?
              %>
            <dt>Transporte</dt>
            <dd><%= trans.transport %></dd>
            <%
               end
              end
              if @attraction.source != nil
               if @attraction.source.empty?
              %>
            <dt>Email</dt>
            <dd><%= @attraction.source %></dd>
            <%
               end
              end
              if @attraction.reference_point == true
              %>
            <dt>Ponto de Referência</dt>
            <dd>
              <i class="fa fa-check"></i>
            </dd>
            <%
              end
              if trans.price != nil
               if  trans.price.empty?
              %>
            <dt>Preço</dt>
            <dd><%= trans.price %></dd>
            <%
               end
              end
              %>
          </dl>
     <!--  <span style="border-top: none;"><%= link_to 'Voltar', attractions_path ,:class=>"btn btn-default btn-square"%></span>-->
      </div>
      <div class="col-sm-6">
         <div class="row"  style="margin-top:15px">
            <div class="col-sm-4">
                <%= link_to attractions_gallery_path, {:class => 'btn btn-primary', :style =>"min-width:150px"} do%>
              Galeria de Imagens
              <%end%>
            </div>
            <div class="col-sm-4 text-center">
              <%= link_to edit_attraction_path(@attraction), {:class => 'btn btn-primary', :style =>"min-width:150px"} do%>
              Editar
              <%end%>
            </div>
            <div class="col-sm-4 text-right">
              <%= link_to @attraction, {:class => 'btn btn-primary', :style =>"min-width:150px", method: :delete, data: { confirm: 'Tem a certeza que quer eliminar este ponto de interesse?'} } do %>
              Remover
              <% end %>
            </div>
    </div>
        <div id="map-canvas" style="width: 100%; height: 400px; margin-top:15px" onload="mapinit();"></div>
      </div>


    <hr>
    <%

      @coments=@attraction.comment_attractions
      
      unless @coments.blank?
      %>
    <div class="col-sm-12">
      <h3>Comentários</h3>
      <%
        @coments.each do |co|%>
      <div class="media-body bubble-body bubble-arrow-left">
        <div class="bubble-inner">
          <%
            if co.mobile_user_id != nil
              usermovel= co.mobile_user
              if usermovel.firstname != nil
                nome=usermovel.firstname+" "+usermovel.surname
              else
                nome="Anónimo"
              end
            else
              nome="Anónimo"
            end
            %>
          <h4 class="media-heading bubble-heading"><%= nome %></h4>
          <div class="bubble-content">
            <p><%= co.comment %></p>
            <p>
            </p>
          </div>
        </div>
      </div>
      <%
        end
        %>
    </div>
    <%
      end
      %>
  </div>
</div>

</div>
</div>
<script>
  mapinit();
</script>